.addProject,
.addBanner, .addLocation,
.addSocieties, .addCity,
.addNews{
    background: $p42-background;

   &.container{
       max-width: 995px;
       padding:0;
       margin: 50px auto 0;
    }

    .select2-container .select2-search--inline .select2-search__field {
        margin: 0;
    }

    .image-uploading-area {
        li {
            width: 200px;

            &:first-child{
                .file-uploader{
                    height: 150px;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

   form{
        max-width:810px;
        margin:30px auto;
        overflow: hidden;

    @include media ('<tablet'){
            padding: 15px;
        }
    }

    button {
        span {
            @include align(middle);
            margin: 0 0 0 10px;
        }
    }

    h2{
        color:$white;
        text-align: center;
        background: $nugree;
        padding: 5px;
        @extend %text-upparcase;
      }

    .layout{
        margin:0 0 30px; 

        @include media ('<tablet'){
            margin: 0 0 10px;
        }
        .select2-container {
            width: 100% !important;        
        }
     }

    label{
        color: $darken-grey;
        width:156px;
        @extend %pull-left;
        margin: 7px 0;

        @include media ('<tablet'){
            width:100%;
        }
    }

    .input-holder{
        @extend %layout;
        padding: 3px;
        
        textarea,
        input{
            @include squar(100%, 40px);
            border:none;
            padding: 7px;
            border: 1px solid $nugree;
            @include font(16,19);
        }
        textarea {
            resize: none;
            height: 150px;
            overflow: auto;
        }
    }
}
.addBanner {
    &.container {
        max-width: 1300px;
    }
    form {
        max-width: inherit;
        padding: 0 20px;
    }
    .layout {
        @include align-reset(top, 16,19);
        margin: 0 -5px 20px;
    }
    .layout-holder {
        width: 50%;
        padding: 0 5px;
    }
}