.UpdateProperty-form,
.addProperty-form {
    @extend %layout;

    .error {
        @extend %listreset;
        @include align-reset(top, 14,18);
        margin: 0 0 10px;
        
        @include media('<tablet'){
            @include align-reset(top, 12,15);
        }

        li {
            width: 33.33%;
            padding: 0 3px 5px;

            @include media('<tablet'){
                 width: 50%;
            }
        }
        span {
            display: block;
            padding: 5px 5px 5px 25px;
            color: $white;
            background: $red;
            position: relative;

            &:after {
                position: absolute;
                top: 4px;
                left: 4px;
                content: "\e92e";
                font-family: 'icomoon';
            }
        }
    }
    .select2-container {
        width:  100% !important;
    }

    .add-form-holder { @extend %layout;}

    h1 {
        @include font(60,63);
        font-weight: 100;

        span { font-weight: 300;}

        @include media('<tablet'){
            @include font(30,33);
        }
    }
    
    .main-form {
        background: rgba($p42-background, 0.8);
        box-shadow: 0 0 7px rgba($black , 0.22);
        padding: 20px 10px;
        @extend %layout;
        @extend %container;
        margin: 0 auto 30px;

        @include media('<desktop'){
            width: 100%;
        }
    }
    .image-uploading-area{
		@extend %listreset;
		@include align-reset(top,14,17);
		text-align: center;
		margin: 10px auto;
		max-width: 1024px;
		
		@include media('<desktop'){
			max-width: 480px;
			margin: 10px auto;
		}
		
		li{
			width: 16.66%;
			position: relative;
			padding:0 10px 10px;
			
			@include media('<widescreen'){
				padding:  0 5px 10px;
			}

			@include media('<desktop'){
				width: 33.33%;
				padding: 0 5px 10px;
			}
			
			&.error {
				.error-text{
					display: block;
					padding: 3px;
					text-align: left;
				}
			}
			
			&.image-loaded {
				.image-holder {
					opacity: 1;
					z-index: 9;
				}
				.picture-name {
					pointer-events: inherit;
				}
				.file-uploader {
					&:after{ display: none;}
				}
			}
			
			&:first-child{
				
				.file-uploader{
					
					&:before{
						position: absolute;
						top: 15px;
						left: -45px;
						content: 'Main Image';
						text-transform: capitalize;
						@include font(13,16);
						padding: 3px;
						transform: rotate(-40deg);
						width: 150px;
						color: $white;
						z-index: 999;
						word-spacing: 1px;
                        background: $orange;
					}
				}
			}

			.file-uploader{
                @include squar(100%, 110px);
                margin: 0 auto 15px;
                position: relative;
                z-index: 1;
                overflow: hidden;
                background: $p42-default-grey;
                
                @include media('<tablet'){
                    @include squar(100%, 90px);
                }

                &:hover{
                    &:after{ color: $orange;}
                }
                
                &:after{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: "\e91b";
                    font-family: 'icomoon';
                    font-size: 50px;
                    line-height: 1;
                    z-index: -1;
                    margin: -25px 0 0 -22px;
                    color: #9da2a8;
                    transition: color 0.4s ease;
                    -webkit-transition: color 0.4s ease;
                    -ms-transition: color 0.4s ease;
                    -moz-transition: color 0.4s ease;
                    
                    @include media('<desktop'){
                        font-size: 60px;
                        margin: -30px 0 0 -30px;
                    }
                    
                    @include media('<tablet'){
                        font-size: 30px;
                        margin: -15px 0 0 -15px;
                    }
                }
            input[type="file"]{
                display: block;
                overflow: hidden;
                border: 0;
                outline: none;
                opacity: 0;
                @include squar(100% !important, 100% !important);
            }
        }
        .picture-name{
            border: 0;
            display: block;
            max-width: inherit !important;
            margin: 0;
            width: 100%;
            height: 28px;
            padding: 6px 10px;
            @include font(14,18);
            pointer-events: none;
        }
        .image-holder{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 0;
            outline: none;
            overflow: hidden;
            z-index: -1;
            opacity: 0;
            transition: z-index 0.9s ease, opacity 0.9s ease;
            -webkit-transition: z-index 0.9s ease, opacity 0.9s ease;
            -moz-transition: z-index 0.9s ease, opacity 0.9s ease;
            -ms-transition: z-index 0.9s ease, opacity 0.9s ease; 
            
            &:after{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(255,255,255,0.7);
                content: '';
                opacity: 0;
                transition: top 0.4s ease;
                -webkit-transition: opacity 0.4s ease;
                -moz-transition: opacity 0.4s ease;
                -ms-transition: opacity 0.4s ease;
            }
            .propertyDocumentCloseBtn{
                position: absolute;
                top: 50%;
                right: 50%;
                text-decoration: none;
                z-index: 6;
                @include font(50,50);
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.4s ease, visibility 0.4s ease, color 0.4s ease;
                -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, color 0.4s ease;
                -ms-transition: opacity 0.4s ease, visibility 0.4s ease, color 0.4s ease;
                -moz-transition: opacity 0.4s ease, visibility 0.4s ease, color 0.4s ease;
                cursor:pointer;
                color: $red;
                margin: -25px -25px 0 0;
                
                @include media('<1425px'){
                    @include font(50,50);
                }
            }
            
            img{
                width: 100%;
                display: block;
                height: 100%;
                border: 0;
            }
            
            &:hover{
                &:after { opacity: 1;}
                .propertyDocumentCloseBtn {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    }
    .layout {
        padding: 3px;
        @include align-reset(top, 13, 16);
        margin: 0 -10px 10px;

        @include media('<tablet'){
            margin: 0;
            padding: 0;
            @include align-reset(top, 12, 15);
        }

        &.full-width {
            margin: 0;

            .layout-holder {
                padding: 0;
                @extend %full-width;
            }
            label {
                width: 12.2%;

                @include media('<desktop'){
                    width: 100%;
                }
            }
            .input-holder {
                width: 80.5%;

                @include media('<desktop'){
                    width: 100%;
                }
            }
        }

        .layout-holder {
            width: 50%;
            padding: 0 10px;
            @include align-reset(top, 13, 16);

            @include media('<tablet'){
                width: 100%;
                display: block;
                margin: 0 0 10px;
                padding: 0;
                @include align-reset(top, 12, 15);
            }
        }
        label {
            color: $dark-grey;
            opacity: 0.80;
            @extend %text-capital;
            width: 25%;
            @include font(13,16);
            padding: 7px 0 0;

            @include media('<desktop'){
                @include font(12,15);
                width: 100%;
                display: block;
                padding: 0 0 10px;
            }

            &.required-field {
                &:after {
                    @include align(top);
                    color: $red;
                    content: '*';
                }
            }
        }
    }
    .input-holder {
        width: 60%;
        padding: 2px;

        @include media('<desktop'){
            width: 100%;
            padding: 0;
        }
    }
    .fake-select {
        select {
            @include font(13,16);
            color: $dark-grey;
            padding: 6px;
        }
    }
    textarea,
    input[type="text"],input[type="tel"],input[type="password"],input[type="number"],input[type="email"]{
        border: 0;
        width: 100%;
        padding:10px 6px;
        @include font(13,16);
        height: 40px;
        width: 100%;
        
        @include media('<tablet'){
            @include font(12,16);
        }

        @include placeholder {
            color: $dark-grey;
            opacity: 0.7;
        }
    }
    textarea {
        height: 100px;
        resize: none;
    }
    input[type="submit"]{
        display: block;
        width: 245px;
        border: 0;
        margin: 0 auto;
        padding: 10px;
        color: $white;
        background: $p42-color;
        @include font(18,22);
        @extend %text-upparcase;
        font-weight: 700;
        transition: background 0.5s ease;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;

        &:hover { background: $green}
    }
    .extra-features {
        @include font(16,18);
        color: $white;
        font-weight: 700;
        background: $p42-color;
        @extend %text-center;
        cursor: pointer;
        @include align(top);
        padding: 5px 40px;

        @include media('<tablet'){
            @include font(12,15);
            padding: 5px 10px;
        }

        &.active,
        &:hover {
            background: $orange;
        }
    }
    .existingOrNew-member {
        @extend %listreset;
        max-width: 520px;
        margin: 30px auto 10px;
        @extend %text-capital;
        @include align-reset(top,16,20);

        @include media('<tablet'){
            max-width: 300px;
            @include align-reset(top,12,15);
        }

        li {
            @extend %text-center;
            width: 50%;
            padding: 0 20px;

            @include media('<tablet'){
                padding: 0 5px;
            }

            &:nth-child(2){
                .slide {
                    margin: 0 0 0 -210px;

                    @include media('<tablet'){
                        margin: 0 0 0 -145px;
                    }
                }
            }

            input[type="radio"] {
                opacity: 0;
                position: fixed;
                top: -999px;
                left: -999px;

                &:checked ~ {
                    label{ background: $orange;}
                    .slide {
                        display: block;
                    }
                }
            }

            label {
                font-weight: 700;
                display: block;
                color: $white;
                cursor: pointer;
                background: $p42-color;
                padding: 5px 20px;
            }

            .layout{
                margin: 0 0 10px;
                padding: 0;

                label {
                    @include align(top);
                    background: transparent;
                    color: $dark-grey;
                    opacity: 0.80;
                    padding: 9px 0 0;
                    cursor: default;
                }
            }

            .slide {
                padding: 20px 5px;
                @extend %text-left;
                display: none;
                margin: 0 -260px 0 50px; 

                @include media('<tablet'){
                    margin: 0 -145px 0 0;
                }
            }
        }
    }
    .list-extraFeatures {
        background: $p42-background;
        @extend %layout;
        @include align-reset(top, 13, 16);

        .col {
            width: 50%;
            padding: 0 5px;
            margin: 0 0 20px;

            @include media('<desktop'){
                width: 100%;
                display: block;
                overflow: hidden;
                margin: 10px 0;
            }

            .layout { margin: 0 -5px 10px;}
            .layout-holder {
                padding: 0 5px 5px;
                min-height: 45px;
                white-space: nowrap;

                &:after {
                    height: 45px;
                    content: '';
                    width: 1px;
                    margin: 0 0 0 -5px;
                    overflow: hidden;
                    @include align(middle);
                }
                .input-holder,
                label {
                    white-space: normal;
                    @include align(middle);
                }
            }
        }
        label {
            width: 50%;
            padding: 0;

            &:after { @extend %hidden;}
        }
        select {
            width: 100%;
            border: 0;
            height: 28px;
        }
        .input-holder {
            width: 50%;
        }
        .feature-heading {
            display: block;
            padding: 5px;
            @extend %text-center;
            background: $darken-grey;
            color: $white;
            margin: 0 0 10px;
        }
    }
    .calculatedPrice {
        background: transparent;
        color: $dark-grey;
        border-radius: 0;
        padding: 0;

        @include media('<tablet'){
            margin: 0;
            text-align: center;
            display: block !important;
        }
    }
    .thankYou-message {
        background: rgba($p42-background, 0.8);
        box-shadow: 0 0 7px rgba($black , 0.22);
        @extend %text-center;
        @extend %container;
        padding: 15px 10px;

        .layout {
            margin: 0;
            padding: 0;
            @extend %text-left;
            position: relative;
        }
        .left {
            @extend %text-center;
            position: absolute;
            top: 50%;
            left: 100px;
            margin: -100px 0 0;

            @include media('<desktop'){
                margin: -50px 0 0;
                left: 30px;
            }

            @include media('<tablet'){
                width: 100%;
                display: block;
                position: static;
                margin: 0;
            }

            span {
                color: $p42-color;
                display: block;
                font-size: 200px;
                line-height: 1;

                @include media('<desktop'){
                    font-size: 100px;
                }
            }
        }
        .right {
            @extend %layout;
            @include font(16,20);
            color: $dark-grey;
            padding: 10px 0 40px 340px;

            @include media('<desktop'){
                @include font(14,17);
                padding: 10px 0 10px 160px;
            }
            @include media('<tablet'){
                width: 100%;
                display: block;
                @include font(12,15);
                padding: 0 20px;
            }
        }
    }
}