.changePassword {
    @extend %layout;
    max-width: 800px;
    background: rgba($p42-background, 0.7);
    box-shadow: 0 0 7px rgba($black , 0.22);
    margin: 100px auto;
    padding: 10px 15px 20px;

    .global-error,
    .global-success {
        margin: -10px -15px 10px;
    }

    h1 {
        @include font(60,63);
        font-weight: 100;

        span { font-weight: 300;}

        @include media('<tablet'){
            @include font(30,33);
        }
    }
    input[type="text"], input[type="password"]{
        border: 0;
        width: 100%;
        padding: 6px;
        @include font(13,16);
        height: 28px;
        width: 100%;
        
        @include media('<tablet'){
            @include font(12,16);
        }

        @include placeholder {
            color: $dark-grey;
            opacity: 0.7;

            @include media('<widescreen'){
                @include font(11,16);
            }
        }
    }
    .layout {
        padding: 3px;
        @include align-reset(top, 13, 16);
        margin: 0 0 20px;

        @include media('<tablet'){
            margin: 0 0 20px;
            padding: 0;
            @include align-reset(top, 12, 15);
        }

        .input-holder {
            width: calc(100% - 200px);
            padding: 2px;

            @include media('<tablet'){
                width: calc(95% - 90px);
            }
        }
        label {
            color: $dark-grey;
            font-weight: 700;
            @extend %text-capital;
            width: 200px;
            @include font(14,17);
            padding: 7px 5px 0 0;

            @include media('<tablet'){
                @include font(12,15);
                width: 90px;
            }

            &:after {
                @include align(top);
                color: $red;
                content: '*';
                padding: 0 4px;
            }
        }
    }
    input[type="submit"] {
        display: block;
        width: 50%;
        border: 0;
        background: $p42-color;
        color: $white;
        @include font(22,25);
        padding: 15px;
        font-weight: 500;
        margin: 0 auto;

        @include media('<tablet'){
            @include font(14,17);
            padding: 10px 5px;
            width: 80%;
        }

        span[class^="icon-"],span[class*="icon-"]{
            @include align(middle);
            margin: -3px 0 0;
            padding: 0 5px;
        }

        &:hover {
            background: $green;
        }
    }
}