.propertyDetail-page {
  @extend %layout;
  padding: 5px;
  margin: 42px 0 0;

  .detail-holder {
    box-shadow: 0 5px 13px rgba($black , 0.5);
    padding: 0 305px 10px 0;
    margin: 0 0 50px;
    position: relative;
    background: $p42-background;
    @extend %layout;

    @include media('<widescreen'){
      padding: 0 200px 10px 0;
    }
    @include media('<tablet'){
      padding: 0 10px 0;
    }
  }
  .frame {
    display: block;
    width: 100%;
  }
  .info-blockProperty {
    background: $p42-background;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 91;
    width: 100%;
    max-width: 305px;
    box-shadow: -7px 0 15px rgba($black , 0.15);
    padding: 8px;
    overflow: hidden;
    
    @include media('<widescreen'){
      max-width: 200px;
    }
    
    @include media('<tablet'){
      max-width: inherit;
      position: static !important;
      width: 100%;
      margin: 0 0 10px;
      box-shadow: none;
    }
    .pull-left, .pull-right {
      width: 50%;
    }

    .price {
      @include font(38,40);
      @extend %text-center;
      box-shadow: 0 5px 15px -5px rgba($black, 0.5);
      padding: 10px;
      margin: 0 0 20px;
      margin: -10px -10px 20px;

      @include media('<desktop'){
        @include font(30,33);
      }
    }
    .pictureHolder {
      width: 145px;
      margin: 0 auto 10px;
      @extend %layout;
      height: 145px;
      white-space: nowrap;
      background: $white;

      &:after {
        @include align(middle);
        height: 145px;
        overflow: hidden;
        margin: 0 0 0 -5px;
        content: '';
      }

      img {
        @include align(middle);
        white-space: normal;
        @extend %img-res;
      }
    }
    .heading {
      color: $p42-color;
      @include font(21,24);
      font-weight: 700;
      margin: 0 0 10px;
      display: block;
      @extend %text-center;

      a {
        color: $p42-color;
        text-decoration: none;
        @include align(top);

        &:hover {
          color: $orange;
        }
      }
    }
    .quick-links {
      @extend %pull-right;
      padding: 18px 0 0;
    }
    .small-heading {
      @extend %text-center;
      padding: 10px 0;
      text-transform: normal;
    }
    .star-rating {
      margin: 0;

      li {
        padding: 0;
      }
    }
    .timeOfAddedProperty {
      padding: 50px 0 0;

      @include media('<tablet'){
        padding: 0;
      }
    }
  }
  .property-picture-holder {
    width: 100%;
    background:$p42-background;
    padding: 10px;

    @include media('<widescreen'){
      padding: 5px;
    }

    @include media('<tablet'){
      margin: 0 0 20px;
      padding: 0;
    }

    h1 {
      @extend %text-left;
      font-weight: 700;
      @include font(27,30);
      margin: 0 0 15px;

      @include media('<tablet'){
        @include font(18,22);
      }
    }
    
    .star-rating {
      @extend %pull-right;
    }
    .quick-links {
      padding: 7px 0 0;
    }
  }
  .propertyImage-pagination,
  .propertyImage-slider {
    position: relative;
    width: 100%;
    @extend %layout;

    .add-to-favorite {
      top: 1px;
    }
    .premiumProperty {
      top: 46px;
      width: 195px;
    }

    .propertyImage-mask,
    .mask {
      @extend %layout;
      width: 100% !important;
      margin: 0 -5px;

      @include media('<desktop'){
        margin: 0 -3px;
      }

      &:hover {
      .propertyImage-slider-btn-prev, .propertyImage-slider-btn-next,
      .propertyImage-pagination-btn-prev-1, .propertyImage-pagination-btn-next-1 { display: block;}
      }
    }
    .propertyImage-mask {
      @include media('<tablet'){
        max-width: 320px;
        margin: 0 auto 10px;
      }
    }
    .propertyImage-slideset,
    .slideset {
      width: 100% !important;
      font-size:0 !important;
      line-height: 0 !important;
      letter-spacing: -4px !important;
      white-space: nowrap !important;
    }
    .propertyImage-slide,
    .slide {
      display: inline-block !important;
      vertical-align: middle !important;
      width: 100% !important;
      font-size: 14px !important;
      line-height: 17px !important;
      letter-spacing: 0 !important;
      float: none !important;
      padding: 0 5px 5px;

      a {
        display: block;
        @extend %text-center;
      }

      @include media('<desktop'){
        padding: 0 3px 5px;
      }

      img {
        @extend  %img-res;
      }
    }
  }
  .slide {
    img {
      min-height: 442px;
      max-height: 442px;

      @include media('<desktop'){
        max-height: 335px;
        min-height: 335px;
      }
      @include media('<tablet'){
        max-height: inherit;
        min-height: inherit;
      }
    }
  }
  .propertyImage-slide {
    &.active {
      a{
        &:after{ @extend .hidden;}
      }
    }
    a{
      position: relative;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 54;
        background: rgba($white, 0.7);
        content: '';
      }
    }
  }
  .propertyImage-pagination {
  .propertyImage-slide {
      width: 20% !important;

      img {
        max-width: 155px;
        max-height: 95px;

        @include media('<widescreen'){
          min-height: 85px;
          max-height: 85px;
        }
        
        @include media('<desktop'){
          min-height: 65px;
          max-height: 65px;
        }
        
        @include media('<tablet'){
          min-height: 35px;
          max-height: 35px;
        }
      }
    }
  }
  .propertyImage-slider-btn-prev, .propertyImage-slider-btn-next,
  .propertyImage-pagination-btn-prev-1, .propertyImage-pagination-btn-next-1 {
    position: absolute;
    top: 50%;
    left: 10px;
    text-decoration: none;
    margin: -20px 0 0;
    display: none;

    @include media('<tablet'){
      display: none !important;
    }

    span[class^="icon-"],span[class*="icon-"]{
      font-size: 40px;
      line-height: 1;
    }
  }
  .propertyImage-slider-btn-next, .propertyImage-pagination-btn-next-1 {
    left: auto;
    right: 20px;
  }
  .overview-section {
    @extend %layout;
    background: $white;
    margin: 10px;
    display: block;
    padding: 20px;
    @extend %text-left;
    color: $p42-default-grey;

    @include media('<tablet'){
      margin: 0 0 10px;
      padding: 10px;
    }

    .small-heading {
      @extend %text-left;
      @extend .pull-left;
      padding: 0;

      @include media('<tablet'){
        float: none !important;
        padding: 0 0 10px;
        display: block;
        text-align: center;
      }
    }
    .btn-hollow {
      @extend .pull-right;

      @include media('<tablet'){
        float: none !important;
        display: block;
        text-align: center;
      }
    }
    .layout{
      padding: 0 0 15px;
    }
  }
  .extra-feature-section {
    margin: 10px;
    @extend %layout;
    border-radius: 8px;
    border: 1px solid rgba($p42-default-grey, 0.5);
    padding: 20px;

    @include media('<tablet'){
      padding: 10px;
      margin: 0 0 10px;
    }

    .small-heading {
      @extend %text-center;
      border-bottom: 1px solid rgba($p42-default-grey, 0.5);
      margin: 0 0 20px;
      padding: 0 0 20px;
    }
  }
  .trusted-agent {
    margin: 15px 0 10px;
  }
  .feature {
    @extend %layout;
    margin: 0 0 25px;

    .small-heading {
      @extend %text-left;
      border: 0;
      margin: 0;
    }
  }
  .feature-list {
    @extend %listreset;
    @include align-reset(top, 14,17);
    color: $p42-default-grey;
    margin: 0 -1px;

    li {
      width: 33.33%;
      color: $p42-default-grey;
      @include align-reset(top, 14,17);
      padding: 5px 10px 10px;
      border-left: 1px solid $dark-grey;

      @include media('<tablet'){
        width: 50%;
      }

      span[class^="icon-"],span[class*="icon-"]{
        font-size: 14px;
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
      }

      .text-feature , .stataus {
        width: 70%;
        position: relative;
      }
      .text-feature {
        padding: 0 0 0 15px;

        &:after {
          position: absolute;
          top: 4px;
          left: 0;
          border: 5px solid transparent;
          border-left: 5px solid $p42-default-grey;
          content: '';
          width: 5px;
          height: 5px;
        }
      }
      .stataus {
        @extend %text-right;
        font-weight: bold;
        width: 30%;
      }
    }
  }
  .agent-societies {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba($darken-grey, 0.7);
    border-radius: 8px;
    padding: 10px;

    .agent-mask {
      overflow: hidden;
      position: relative;
      margin: 0 -5px;

    }
    .agent-slideset {
      width: 100% !important;
      white-space: nowrap;
      font: 0 !important;
      line-height: 0 !important;
      letter-spacing: -7px !important;
    }
    .agent-slide {
      display: inline-block !important;
      vertical-align: top !important;
      letter-spacing: 0 !important;
      font-size: 12px !important;
      line-height: 15px !important;
      width: 20% !important;
      padding: 0 5px;
      white-space: normal;

      @include media('<widescreen'){
        width: 33.33% !important;
      }

      @include media('<desktop'){
        width: 50%  !important;
        text-align: center;
        background: $white;
      }

      @include media('<tablet'){
        width: 100% !important;
      }

      a {
        display: block;
        @include squar(100px, 100px);
        white-space: nowrap;
        background: $white;
        padding: 3px;
        margin: 0 auto;
        text-decoration: none;
        color: $p42-color;
        @extend %text-center;

        &:after {
          height: 100px;
          margin: 0 0 0 -5px;
          @include align(middle);
          content: '';
          width: 1px;
        }
        img {
          @include align(middle);
          white-space: normal;
          margin: 0 0 0 -4px;
        }
      }
      .image-description {
        @include align(middle);
        @extend %text-capital;
        font-weight: 600;
        @include font(12,15);
        word-break: break-all;
        white-space: normal;
        margin: 0 0 0 -4px;
      }
    }
    .small-heading {
      @include font(14,17);
      padding: 0 0 5px;

      @include media('<desktop'){
        @include font(12,15);
      }
    }
    .btn-prev, .btn-next {
      text-decoration: none;
      color: $green;
      position: absolute;
      top: 50%;
      left: 10px;
      margin: -4px 0 0;
      display: none;

      @include media('<desktop'){
        left: 0;
      }

      span[class^="icon-"],span[class*="icon-"]{
        font-size: 25px;
        line-height: 0;
      }
    }
    .btn-next {
      left: auto;
      right: 10px;

      @include media('<desktop'){
        right: 0;
      }
    }
  }
  .agent-picture{
    @include squar(260px, 260px);
    @extend .pull-left;
    position: relative;
    @extend %text-center;
    background: $white;
    white-space: nowrap;
    @extend %layout;

    @include media('<desktop'){
      @include squar(150px, 150px);
    }

    @include media('<tablet'){
      float: none !important;
      margin: 0 auto 10px;
      width: 100%;
    }
    
    &:after {
      height: 260px;
      overflow: hidden;
      margin: 0 0 0 -5px;
      @include align(middle);
      content: '';

      @include media('<desktop'){
        height: 150px;
      }
    }

    img {
      @include align(middle);
      white-space: normal;
      max-width: 100px;
      max-height: 100px;
      height: 100%;
    }

    .premiumProperty {
      top: 20px;
      width: 165px;
    }
  }
  .agent-description {
    @extend %layout;
    padding: 0 0 0 10px;

    @include media('<tablet'){
      padding: 0;
    }

    h1 {
      margin: 0 0 5px;

      @include media('<desktop'){
        @include font(18,22);
      }
    }
    .location {
      padding: 0 0 5px;
      display: block;
    }
    .left-side {
      width: 75%;
      @extend .pull-left;

      @include media('<widescreen'){
        width: 65%;
      }

      @include media('<desktop'){
        width: 50%;
      }
    }
    .right-side {
      width: 25%;
      @extend .pull-right;

      @include media('<widescreen'){
        width: 35%;
      }
      @include media('<desktop'){
        width: 50%;
      }
    }
    
    .trusted-agent {
      margin: 15px 0 20px 40px;

      @include media('<tablet'){
        float: right;
        margin: 15px 24px 20px 40px;
      }
    }
    .star-rating {
      float: none !important;
      margin: 0 auto 10px;
    }
  }
}