.property-listing-page {
    @extend %layout;
    background: $p42-background;
    position: relative;
    min-height: 830px;

    @include media('<desktop'){
        min-height: 500px;
    }

    .property-status-links-opener {
        display: block;
        @extend %text-center;
        @extend %text-upparcase;
        @include font(20,21);
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
        background: $p42-color;
        color: $white;
        position: relative;

        @include media('>=desktop'){ display: none;}

        &.active {
            background: darken($p42-color, 20%);
        }
        &:after {
            position: absolute;
            top: 50%;
            left: 10px;
            content: "\e934";
            font-family: 'icomoon';
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            margin: -10px 0 0;
        }
    }

    .property-status-links {
        @extend %listreset;
        @include align-reset(top,18,22);
        @extend %text-upparcase;
        @extend %text-center;
        font-weight: 700;

        @include media('<tvscreen'){
            @include align-reset(top,14,18);
        }
        @include media('<widescreen'){
            @include align-reset(top,12,15);
        }

        @include media('<desktop'){
            position: absolute;
            top: 41px;
            left: 0;
            right: 0;
            z-index: 500;
            display: none;
            box-shadow: 0 5px 9px rgba($black,0.45);
        }

        li {
            width: 20%;

            @include media('<desktop'){
                width: 100%;
                display: block;
            }

            &.active {
                a {
                    background: #dde0e2 !important;
                    &.active {
                        color: $green;
                    }
                    &.pending {
                        color: $p42-color;
                    }
                    &.rejected {
                        color: lighten($red, 10%);
                    }
                    &.expired {
                        color: #cf8511;
                    }
                    &.deleted {
                        color: #e14646;
                    }

                    &:after { display: block;}
                }
            }

            a {
                display: block;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                color: #6d6e71;
                padding: 15px;
                border-left: 1px solid $dim-grey;

                @include media('<desktop'){ border: 0;}

                &:before {
                    font-family: 'icomoon';
                    @include align(middle);
                    font-weight: normal;
                    padding: 0 5px;
                    margin: -4px 0 0;
                }
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 3px;
                    content: '';
                    display: none;

                    @include media('<desktop'){

                        height: auto;
                        right: auto;
                        bottom: 0;
                        width: 3px;
                    }
                }


                &.active,
                &.deleted,
                &.expired,
                &.rejected,
                &.pending {
                    background: #d2d6d8;
                }

                &.active {
                    &:before { content: "\e936";}
                    &:after { background: $green;}
                }
                &.pending {
                    &:before { content: "\e93b";}
                    &:after { background: $p42-color;}
                }
                &.rejected {
                    &:before { content: "\e939";}
                    &:after { background: lighten($red, 30%);}
                }
                &.expired {
                    &:before { content: "\e92e";}
                    &:after { background: #cf8511;}
                }
                &.deleted {
                    &:before { content: "\e937";}
                    &:after { background: #e14646;}
                }

                &:hover{
                    &:after { display: block;}

                    &.active {
                        color: $green;
                    }
                    &.pending {
                        color: $p42-color;
                    }
                    &.rejected {
                        color: lighten($red, 30%);
                    }
                    &.expired {
                        color: #cf8511;
                    }
                    &.deleted {
                        color: #e14646;
                    }
                }

                .number {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    @include font(14,17);
                    margin: -8px 0 0 ;

                    @include media('<widescreen'){
                        @include font(12,15);
                    }
                    @include media('<desktop'){
                        position: static;
                        @include align(middle);
                        margin: -2px 5px 0;

                        &:before,
                        &:after{
                            @include align(top);
                            content: '(';
                        }
                        &:after {
                            content: ')';
                        }
                    }
                }
            }
        }
    }
    .sorting-filtering {
        @extend %listreset;
        @include align-reset(top, 13,16);
        margin: 0 -10px;
        @extend %text-center;

        @include media('<widescreen'){
            margin: 0;
        }

        @include media('<tablet'){
            text-align: left;
        }

        li {
            color: $dark-grey;
            width: 33.33%;
            padding: 20px 10px 15px;
            @extend %layout;
            @include align-reset(top, 13,16);

            @include media('<tablet'){
                padding: 10px 5px 5px;
                width: 50%;
                @include align-reset(top, 12,15);
            }
        }
        label {
            width: 100px;
            margin: 5px 0 0;

            @include media('<tablet'){
                width: 50px;
            }
        }
        .input-holder {
            width: calc(80% - 100px);

            @include media('<widescreen'){
                width: calc(100% - 100px);
            }
            @include media('<tablet'){
                width: calc(100% - 50px);
            }
        }
    }
    .property-for {
        display: block;
        @extend %text-center;
        color: $white;
        @extend %text-upparcase;
        @include font(21,25);
        background: $p42-default-grey;
        padding: 5px;
    }
    .listing-pro {
        @extend %listreset;
        border-bottom: 1px solid rgba($p42-default-grey, 0.35);

        @include media('<widescreen'){
            width: 1125px;
        }

        li {
            display: block;
            @include align-reset(top, 14,17);
            font-weight: 700;
            color: $p42-default-grey;
            @extend %layout;
            position: relative;

            &:nth-child(2n){
                background: $white;
            }

            &.t-h{
                background: $dim-grey;
                color: $white;  
                
                .customCheckbox {
                    font-size: 14px !important;
                    line-height: 14px !important;
                }

                .fake-label { color: $white;}
                .fake-checkbox{
                    border-color: $white;

                    &:after { background: $white;}    
                }
                label { padding: 4px 20px 0 30px;}
            }

            p{ margin: 0;}
            .border {
                position: relative;

                &:after {
                    position: absolute;
                    top: -999px;
                    left: 0;
                    bottom: -999px;
                    background: rgba($p42-default-grey, 0.35);
                    width: 1px;
                    content: '';
                }
            }
            .pro-id {
                width: 12%;
                padding: 11px 15px 11px;
                @extend %text-left;

                &.border {
                    &:after { display: none;}
                }
            }
            .pro-type {
                width: 20%;
                padding: 15px 15px 13px;
            }
            .pro-location {
                width: 20%;
                padding: 15px 15px 13px;
            }
            .pro-price {
                width: 10%;
                padding: 15px 15px 13px;
            }
            .pro-size {
                width: 13%;
                padding: 15px 15px 13px;
            }
            .pro-date {
                width: 10%;
                padding: 15px 15px 13px;
            }
            .pro-controls {
                width: 15%;
                padding: 15px 15px 13px;
            }

            &.t-d {
                color: $p42-default-grey;

                &.deleting {
                    &:after {
                        background: $red;
                        content: 'Deleting...';

                        @include media('<widescreen'){
                            text-align: right;
                            padding: 15px 40px 0;
                        }
                        @include media('<tablet'){
                            content: '';
                        }
                    }
                    &:before {
                        margin: 10px 0 0 -70px;
                        content: "\e937";
                        font-family: 'icomoon';
                        -moz-animation: deleting 1.5s ease infinite;
                        -webkit-moz-animation: deleting 1.5s ease infinite;
                        animation: deleting 1.5s ease infinite;

                        @include media('<widescreen'){
                            left: 100%;
                            margin: 13px 0 0 -180px;
                        }
                        @include media('<tablet'){ margin: 13px 0 0 -100px; }
                    }
                }
                &.restoring {
                    &:after {
                        background: $green;
                        content: 'Restoring...';
                        
                        @include media('<widescreen'){
                            text-align: right;
                            padding: 15px 40px 0;
                        }

                        @include media('<tablet'){
                            content: '';
                        }
                    }
                    &:before {
                        content: "\e93f";
                        margin: 13px 0 0 -85px;
                        font-family: 'icomoon';
                        -moz-animation: restoring 1.5s ease infinite;
                        -webkit-moz-animation: restoring 1.5s ease infinite;
                        animation: restoring 1.5s ease infinite;

                        @include media('<widescreen'){
                            left: 100%;
                            margin: 13px 0 0 -180px;
                        }
                        @include media('<tablet'){ margin: 13px 0 0 -100px; }
                    }
                }
                
                &:after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 54;
                    @include font(18,22);
                    color: $white;
                    display: block;
                    letter-spacing: 0;
                    padding: 15px 0 0;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    font-size: 26px;
                    line-height: 1;
                    letter-spacing: 0;
                    z-index: 55;
                    color: $white;
                }
            }
        }
        .control-link {
            @extend %listreset;
            @include align-reset(top, 12,12);

            li {
                padding: 0 5px;

                &:nth-child(2n){ background: transparent;}

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #b2b3b5;

                    span{
                        font-size: 21px;
                        line-height: 1;
                    }
                    &:hover{
                        color: $p42-color;
                    }
                }
            }
        }
    }
}
@keyframes deleting{
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
    }
    
    50% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }
    
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }
}
@-webkit-keyframes deleting{
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
    }
    
    50% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }
    
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }
}
@-moz-keyframes deleting{
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
    }
    
    50% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }
    
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }
}

@keyframes restoring{
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    25% {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }
    
    50% {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
    }
    
    75% {
        transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
        -moz-transform: rotate(-270deg);
    }
    
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes restoring{
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    25% {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }
    
    50% {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
    }
    
    75% {
        transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
        -moz-transform: rotate(-270deg);
    }
    
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
    }
}
@-moz-keyframes restoring{
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    25% {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }
    
    50% {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
    }
    
    75% {
        transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
        -moz-transform: rotate(-270deg);
    }
    
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
    }
}