.updatePro {
    background: $p42-background;
    @extend %layout;
    box-shadow: 0 0 7px rgba($black , 0.22);
    padding: 20px 10px;
    margin: 42px auto;
    width: 85%;

    .global-success {
        margin: -20px -10px 0;
    }

    @include media('<widescreen'){
        width: 100%;
    }

    .registerNow-heading {
        margin: 0 0 20px;
    }

    .registration-form {
        @extend %layout;

        textarea,
        input[type="text"],input[type="tel"],input[type="password"],input[type="number"],input[type="email"]{
            border: 0;
            width: 100%;
            padding: 8px;
            @include font(13,16);
            height: 40px;
            width: 100%;
            
            @include media('<tablet'){
                @include font(12,16);
            }

            @include placeholder {
                color: $dark-grey;
                opacity: 0.7;

                @include media('<widescreen'){
                    @include font(11,16);
                }
            }
        }

        textarea {
            height: 90px;
            resize: none;
        }
        
        input[type="submit"]{
            background: $p42-color;
            border: 0;
            color: $white;
            font-weight: 700;
            letter-spacing: 1px;
            @include font(18,22);
            display: block;
            padding: 10px 35px;
            margin: 15px auto 0;
            transition: background 0.5s ease;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -ms-transition: background 0.5s ease;

            @include media('<tablet'){
                padding: 10px;
                width: 280px;
                margin: 15px auto 0;
            }

            &:hover {
                background: $green;
            }
        }
    }

    h1 {
        @include font(60,63);
        font-weight: 100;

        span { font-weight: 300;}

        @include media('<tablet'){
            @include font(30,33);
        }
    }
    
    .layout {
        padding: 3px;
        @include align-reset(top, 13, 16);
        margin: 0 -10px 10px;

        &.two {
            .layout-holder {
                width: 33.5%;
                
                @include media('<widescreen'){
                    width: 50%;
                }
                @include media('<tablet'){
                    width: 100%;
                    display: block;
                }
                
                &:first-child{
                    width: 66.5%;

                    @include media('<widescreen'){
                        width: 50%;
                    }
                    @include media('<tablet'){
                       width: 100%;
                        display: block;
                    }
                }
            }
            .phone-num {
                width: 33.5% !important;
                float: right;
                
                @include media('<widescreen'){
                    width: 50% !important;
                }
                @include media('<tablet'){
                    width: 100% !important;
                    display: block;
                }
            }
            .otherRole {
                width: 66.5% !important;
                float: left;

                @include media('<widescreen'){
                    width: 50% !important;
                }
                @include media('<tablet'){
                    width: 100% !important;
                    display: block;
                }
            }
        }

        &.first-small {
            margin: 0;

            .layout-holder {
                width: 65%;

                @include media('<widescreen'){
                    width: 50%;
                }

                @include media('<tablet'){
                    width: 100%;
                    display: block;
                }

                &:first-child{
                    width: 35%;

                    @include media('<widescreen'){
                        width: 50%;
                    }
                    @include media('<tablet'){
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        @include media('<tablet'){
            margin: 0;
            padding: 0;
            @include align-reset(top, 12, 15);
        }

        .layout-holder {
            width: 33.33%;
            padding: 0 10px;
            @include align-reset(top, 13, 16);

            @include media('<tablet'){
                width: 100%;
                display: block;
                margin: 0 0 10px;
                padding: 0;
                @include align-reset(top, 12, 15);
            }

            .full-width {
                @include align-reset(top, 13, 16);
                margin: 0 0 20px;
            }
        }
        .input-holder {
            width: calc(100% - 140px);
            padding: 2px;

            @include media('<widescreen'){
                width: calc(100% - 100px);
            }

            @include media('<desktop'){
                width: calc(100% - 90px);
            }

            @include media('<tablet'){
                width: calc(95% - 80px);
            }
        }
        label {
            color: $dark-grey;
            opacity: 0.80;
            @extend %text-capital;
            width: 140px;
            @include font(13,16);
            padding: 7px 5px 0 0;

            @include media('<widescreen'){
                width: 100px;
            }

            @include media('<desktop'){
                width: 90px;
            }

            @include media('<tablet'){
                @include font(12,15);
                width: 80px;
            }
            &.required-field{
                &:after {
                    @include align(top);
                    color: $red;
                    content: '*';
                }
            }
        }   
    }

    .role-opener {
        display: block;
        @include squar(200px, 40px);
        @extend %text-center;
        color: $dark-grey;
        opacity: 0.8;
        cursor: pointer;
        background: $white;
        @include font(13,40);
        position: relative;
        padding: 0 30px 0 0;

        @include media('<widescreen'){
            @include font(11,28);
        }
        @include media('<tablet'){
            width: 100%;
        }

        &.active {
            &:after { background: $orange;}
            &:before { border-top-color: $white;}
        }

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 28px;
            background: $p42-color;
            content: '';
        }
        &:before {
            position: absolute;
            top: 50%;
            right: 10px;
            border: 4px solid transparent;
            border-top: 4px solid $black;
            content: '';
            z-index: 1;
            margin: -2px 0 0;
        }
    }
    .agent-check {
        @include align(top);
        position: relative;
        z-index: 60;
        padding: 1px 0;
        
        @include media('<tablet'){
            margin: 0 3px;
        }
        
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 55;
            content: '';
        }
        
        .hidden-checkfield{
            visibility: visible;
            top: 0;
            left: 0;
            opacity: 0;
            position: fixed;
            
            &:checked ~ {

                .fake-checkbox{
                    background: $orange;
                    box-shadow: none;
                    
                    .fake-button {
                        left: 53%;
                    }
                }
                .fake-label{
                    color: $black;
                }
            }
        }
        .fake-checkbox{
            @include squar(40px, 20px);
            border-radius: 20px;
            float: left;
            background: $gray;
            box-shadow: inset 0 0 5px -2px rgba(0,0,0,0.5);
            position: relative;
            transition: background 0.4s ease;
            z-index: -1;
            
            .fake-button {
                position: absolute;
                top: 2px;
                left: 2px;
                bottom: 2px;
                width: 17px;
                border-radius: 100%;
                background: $gray;
                background: $white;
                content: '';
                transition: left 0.4s ease;
                -webkit-transition: left 0.4s ease;
                -moz-transition: left 0.4s ease;
                -ms-transition: left 0.4s ease;
                cursor: pointer;
            }
        }
        .fake-label {
            float: left;
            cursor: pointer;
            max-width: 200px;
            padding: 0 0 0 10px;
            position: relative;
            z-index: -1;
            color: $black;
        }
    }
    
    .company-logo {
        position: relative;
        @extend %layout;
        display: block;
        width: 100%;
        max-width: 300px;

        @include media('<tablet'){
            margin: 0 auto;
            display: block !important;
            max-width: 250px;
        }

        &.image-loaded,
        &.hover {
            label {
             span[class^="icon-"],span[class*="icon-"]{ @extend %hidden;}   
            }
        }
        &.image-loaded {
            .picture-holder {
                display: block !important;
            }
        }

        .name-tag {
            float: left;
            @include font(16,19);
            color: $dark-grey;
            padding: 35px 0 0;

            @include media('<tablet'){
                float: none;
                display: block;
                @include font(12,15);
                text-align: center;
                padding: 0 0 10px;
            }
        }

        input[type="file"]{
            position: fixed;
            top: -999px;
            left: -999px;
            opacity: 0;
            visibility: hidden;
        }
        .logo-holder {
            position: relative;
            @extend %layout;
            @include squar(90px,90px);
            float: right;

            @include media('<tablet'){
                float: none;
                display: block;
                padding: 0 0 10px;
                margin: 0 auto;
            }

            label {
                @include squar(90px,90px);
                background: $dark-grey;
                display: block;
                padding: 0;
                position: relative;
                cursor: pointer;

                span[class^="icon-"],span[class*="icon-"]{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: $p42-background;
                    font-size: 25px;
                    line-height: 1;
                    margin: -12px 0 0 -12px;
                }

                &:after { display: none;}
            }
            .picture-holder {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: none;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba($white, 0.7);
                    content: '';
                    display: none;
                }
                &:hover {
                    .company-logo-delete,
                    &:after { display: block;} 
                }

                img {
                    @extend %img-res;
                    height: 100%;
                }
                .company-logo-delete {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 11;
                    color: $red;
                    font-size: 30px;
                    line-height: 1;
                    margin: -15px 0 0 -15px;
                    display: none;
                    cursor: pointer;
                }
            }
        }
    }

    .packetData-list,
    .societiesBlock-listing {
        @extend %listreset;
        @include align-reset(top, 13,16);
        display: block;
        width: 100%;

        li {
            width: 25%;
            padding: 0 5px 10px;

            @include media('<tablet'){
                width: 50%;
            }
        }
    }

    .societiesBlock-listing {
        padding: 20px;
        max-height: 115px;
        overflow-x: hidden;
        overflow-y: auto;
        background: $p42-background;
        box-shadow: 0 0 23px rgba($black, 0.2) inset;
        
        @include media('<tablet'){
            padding: 0;
            margin: 0 0 10px;
        }
    }
    
    .packetData-list {
        margin: 0 -5px;

        li {
            width: 20%;
            padding: 0 5px 10px;

            @include media('<widescreen'){
                width: 25%;
                padding: 0 3px 10px;
            }
            @include media('<desktop'){
                width: 33.33%;
            }
            @include media('<tablet'){
                width: 50%;
            }
        }
    }

    .packetData {
        display: block;
        color: $white;
        background: $p42-color;
        font-weight: 400;
        position: relative;
        padding: 5px 25px 5px 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        @extend %layout;

        @include media('<desktop'){
            @include font(12,15);
        }

        .delete {
            cursor: pointer;
            color: $white;
            position: absolute;
            top: 50%;
            right: 5px;
            font-size: 14px;
            line-height: 0;
            margin: -8px 0 0;
            border: 1px solid $white;
            cursor: pointer;
        }
    }

    .role-listing {
        @extend %listreset;
        @extend %layout;
        @include align-reset(top,13,16);
        background: $p42-background;
        padding: 10px 10px 0;
        margin: 0 0 20px;
        box-shadow: 0 0 23px rgba($black, 0.2) inset;

        li {
            width: 25%;
            padding: 0 0 10px;

            @include media('<tablet'){
                width: 50%;
            }
        }
    }

    .agent-information {
        border: 1px solid rgba($darken-grey, 0.5);
        border-radius: 8px;
        @extend %layout;
        margin: 10px 0;
        padding: 5px;

        .registerNow-heading {
            margin: 0 0 20px;
            padding: 0 0 5px;
        }
    }
    .agree-with-terms {
        @extend %listreset;
        display: block;
        width: 100%;

        li {
            display: block;
            position: relative;
            margin: 0 0 10px;

            .customCheckbox {
                input{
                    top: 0;
                    left: 0;
                    position: absolute;
                }
            }
        }
        label {
            width: 100%;
            padding: 0 20px 0 30px;

            &:after {
                display: none;
            }
        }
        .fake-checkbox {
            position: absolute;
            top: 50%;
            left: 0;
            margin: -11px 0 0;
        }
        .fake-label {
            max-width: 510px;
        }
    }
}