$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1540px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'add-property-form';
@import 'update-profile';
@import 'property-listing';
@import 'change-password';
@import 'property-detail';
@import 'add-sum';
@import 'email-listing';
@import 'fancybox';
@import 'select2-min';
body {
  &.sideBar-active {
    @include media('<tablet'){
      overflow: hidden;
    }
  }
}
.page-loader {
  background:#525252 url('../images/bg.jpg') no-repeat;
  background-size: 100% auto;
  @extend %layout;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  @extend %text-center;
  height: 100vh;
  white-space:nowrap;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, 0.85);
    content: '';
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    @include align(middle);
    width: 1px;
    overflow: hidden;
    margin:  0 0 0 -5px;
    content:'';
    height: 100vh;
  }

  .page-loader-holder {
    width: 100%;
    white-space:normal;
    @include align(middle);
    
    img {
      @extend %img-res;
      max-width: 150px;
      max-height: 150px;
      margin: 0 auto;
      pointer-events:none;
    }
  }
}
h1 {
  margin: 0 0 30px;
  width: 100%;

  @include media('<tablet'){
    margin: 0 0 15px;
    @include font(25,28);
  }
}
.global-error,
.global-success {
  position: relative;
  display: block;
  background: $green;
  @include font(14,17);
  @extend %text-capital;
  @extend %text-center;
  position: relative;
  color: $white;
  padding: 5px;
  font-weight: 600;

  &:after {
    position: absolute;
    top: 50%;
    left: 5px;
    content: "\e92f";
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0;
  } 
}
.global-error {
  background: $red;
  &:after {
    content: "\e92e";
  }
}
.btn-default{
  @include align(top);
  @include font(18,22);
  font-weight: 700;
  text-decoration: none;
  color: $white;
  background: $p42-color;
  padding: 10px 25px;
  border: 0;
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;

  @include media('<tablet'){
    @include font(14,18);
    padding: 10px;
  }

  &:hover {
    background: lighten( $p42-color, 10%);
  }
}
.customCheckbox,
.customRadio {
  position: relative;
  @include align(top);
  cursor: pointer;
  font-size: 13px !important;
  line-height: 22px !important;
  z-index: 5;
  padding: 0 20px 0 30px;
  text-align: left !important;

  @include media('<tablet'){
    font-size: 12px !important;
    padding: 0 5px 0 25px;
  }

  input[type="checkbox"], input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &:checked ~ {
      .fake-checkbox,
      .fake-radio {
        background: $nugree;
        border-color:$nugree; 
        &:after { opacity: 1;}
      }
    }
  }

  .fake-checkbox,
  .fake-radio {
    @include squar(22px, 22px);
    border: 3px solid $p42-color;
    position: relative;
    color: $dark-grey;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "\e94a";
      margin: -15px 0 0 -13px;
      font-family: 'icomoon';
      color: $white;
      font-size: 25px;
      line-height: 1;
      opacity: 0;
    }
  }
  .fake-label {
    padding: 0 0 0 10px;
    color: $dark-grey;
    @include align(top);
    pointer-events: none;
  }
}
.searchByID {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  @include squar(100%, 45px);
  @extend %layout;
  background: $p42-default-grey;
  display: none;

  input[type="text"],input[type="search"]{
    @include squar(100%, 45px);
    display: block;
    color: $p42-default-grey;
    background: transparent;
    padding: 8px 35px 8px 8px;
    border-radius: 2px;
    @include font(14,17);
    font-weight: 700;
    border: 0;
    font-weight: 400;
    
    @include media('<widescreen'){
      @include squar(100%, 45px);
      padding: 8px 35px 8px 8px;
    }

    @include media('<tablet'){
      color: $white;
    }

    &:focus {
      color: $white;

      @include placeholder{
        color: $white;

        @include media('<tablet'){
          color: $white;
        }
      }
      ~ button { color: $white;}
    }

    @include placeholder{
      color: $black;
    }
  }

  button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    border: 0;
    background: transparent;
    color: $black;
    padding: 0;

    span[class^="icon-"],span[class*="icon-"]{
      font-size: 20px;
      line-height: 45px;

      @include media('<widescreen'){
        line-height: 45px;
      }
      @include media('<tablet'){
        color: $white;
      }
    }
  }
}
.custom-withouChecks {
  display: block;
  width: 100%;

  &.transparent {
    input[type="radio"], input[type="checkbox"]{
      &:checked {
        ~ .fake-label{
          color: $white;
          background: $p42-color;
        }
      }
    }
    .fake-label {
      background: transparent;
      border: 1px solid $p42-color;
      color: $p42-color;
    }
  }

  input[type="radio"], input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &:checked {
      ~ .fake-label{
        background: $orange;
      }
    }
  }
  .fake-label {
    display: block;
    background: $p42-color;
    color: $white;
    @extend %text-center;
    padding: 5px;
    @extend  %text-capital;
    cursor: pointer;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
  }
}
.fake-select {
  width: 100%;
  @extend %layout;
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 1px solid $mix-black;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28px;
    background: $white;
    content: '';
    pointer-events: none;
    cursor: pointer;
  }

  &:before {
    position: absolute;
    top: 50%;
    right: 10px;
    border: 4px solid transparent;
    border-top: 4px solid $black;
    content: '';
    z-index: 1;
    margin: -2px 0 0;
    pointer-events: none;
    cursor: pointer;
  }

  select {
    width: 100%;
    background: $white;
    border: 0;
    padding: 0 30px 0 10px;
    @include font(14, 40);
    height: 35px;
    @extend %layout;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
h1 {
  display: block;
  @extend %text-center;
  color: $p42-default-grey;
  font-weight: 400;

  span{
    color: $p42-color;
    font-weight: 700;
  }
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-ajax-error, .select2-results .select2-selection-limit {
  background: $white;
  color: $dark-grey;
}
#s2id_selectbox { white-space: nowrap !important;}
.select2-container.select2-container-multi.js-data-example-ajax{
  width: 100% !important;
}
.select2-container-multi .select2-choices{
  min-height: 40px;
  max-height: 60px !important;
  overflow-y: auto;
  padding: 0;
  white-space: nowrap !important;
  width: 100%;
  background: $white;
  background-image: none;
}
.select2-user-result { margin: 0;}
.select2-container, .select2-drop, .select2-search, .select2-search input{
  width: 100%;
  border: 1px solid $mix-black;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 10px;
  color: $black;
  height: 40px;
  line-height: 40px;
}
.select2-drop.select2-drop-above { box-shadow: none;}
.select2-search-choice-close {
  background: transparent;
  top: 50%;
  margin: -9px 0 0;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "\e920";
    font-family: 'icomoon';
    color: $white;
    font-size: 18px;
    line-height: 1;
  }
}
.select2-container-multi .select2-choices .select2-search-choice {
  background: $p42-color;
  color: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 15px 10px 15px 25px;
}
.select2-container .select2-choice {
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  border: 0;
  background: $white;
}
.select2-container .select2-choice .select2-arrow {
  width: 28px;
  background: transparent;
  border-radius: 0;
  border-color:$white; 
}
.select2-container .select2-choice .select2-arrow b{
  background: transparent;
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid transparent;
    border-top:4px solid $black;
    content: '';
    margin: -2px 0 0 -3px; 
  }
}
.select2-container .select2-choice > .select2-chosen {
  margin-right: 28px;
  @extend %text-left;
}
.select2-search { border: 0 !important;}
.select2-drop{ box-shadow: none !important;}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices{ background: transparent;}
#wrapper {
  @extend %layout;
  position: relative;

  &.fancy-overlay {
    filter: blur(15px);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
  }
}

#header {
  @extend %clearfix;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;
  background: $gen-color;
  padding: 0 0 0 50px;
  min-width: 320px;

  .login & { padding: 5px;}

  @include media('<tvscreen'){
    padding: 0 0 0 50px;
  }
  @include media('<widescreen'){
    padding:0 0 0 35px;
  }
  @include media('<tablet'){
    padding:0 0 0 25px;
  }
  .searchOpener-Mobile{
    @extend .pull-right;
    @extend %text-center;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    border-radius: 2px;
    cursor: pointer;
    @extend %pull-left;
    color: #1c181b;
    margin: 15px 0 0;
    
    @include media('<tablet'){
      font-size: 18px;
    }

    &:hover {
      color: $white;
    }
  }
  .alerts{
    @extend %listreset;
    @include align-reset(top, 20,20);
    @extend %pull-right;
    margin: 15px 10px 0 0;
    padding: 0 0 0 7px;

    @include media('<tablet'){
      margin: 15px 8px 0 0;
      @include align-reset(top, 16,18);
      padding: 0;
    }

    li {
      padding: 0 10px;
      position: relative;

      .count {
        color: $white;
        @include font(9,11);
        background: #e95c4f;
        position: absolute;
        top: -10px;
        right: -1px;
        padding: 4px 2px;
        @extend %text-center;
        border-radius: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        @extend %layout;
        @include squar(20px, 20px);
      }

      span[class^="icon-email-alerts"],span[class*="icon-email-alerts"]{
        font-size: 25px;

        @include media('<tablet'){
          font-size: 20px;
        }
      }

      a {
        color: #1c181b;
        text-decoration: none;
        cursor: pointer;

        &:hover { color: $white;}
      }
      .notification-opener.active {
        color: $white;
      }
    }
  }
  .right-header {
    width: 30%;
    @extend .pull-right;
    position: relative;

    @include media('<desktop'){
      width: 50%;
    }
    @include media('<tablet'){
      width: 61%;
      position: static;
    }

    .logout {
      @extend %pull-right;
      background: $nugree;
      text-decoration: none;
      color: $white;
      @extend %text-upparcase;
      padding: 13px 25px;
      position: relative;

      @include media('<tablet'){
        @include font(13,16);
        padding: 9px 7px;
      }

      &:hover {
        background: darken($red, 10%);
      }

      span {
        @include align(top);
        @include font(30,30);
      }
    }
  }
}
.logo {
  width: 100%;
  max-width: 138px;
  margin: 5px 0 5px 10px;

  .login & { margin: 5px auto;}

  @include media('<tablet'){
    max-width: 100px;
    margin: 4px 0 0 6px;
  }

  a { display: block;}
  img { @extend %img-res;}
}
.notification-holder {
  @extend %layout;
  background: $white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 5px 5px rgba($black, 0.5);
  z-index: 95;
  padding: 40px 0 0;
  display: none;

  &.active {
    display: block;
  }

  a {
    color: lighten($black, 10%);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .top-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include font(14,17);
    padding: 10px;

    span, a {
      width: 50%;
      @extend %pull-left;
    }
    span { font-weight: 600;}
    a{
      @extend %text-right;
      cursor: pointer;
    }
  }
  .notification-list {
    @extend %listreset;
    @include font(15,18);
    max-height: 375px;
    overflow-y: auto;

    li {
      display: block;
      position: relative;
      border-bottom: 2px solid $white;

      &.active {
        a {
          background: #e0dfdf;
        }
      }


      a {
        @extend %layout;
        display: block;
        background: #f5f4f4;
        text-decoration: none;
        padding: 0 10px;
        position: relative;

        .layout{
          overflow: hidden;
          padding: 10px 0 0 20px;
        }
      }
      .tag-name {
        display: block;
        padding: 0 0 5px;
      }
      p {
        margin: 0 0 10px;
        color: $dark-grey;
      }
      .time {
        position: absolute;
        top: 0;
        right: 50px;
        @include font(13,16);
        color: $dark-grey;
      }
      .corss {
        padding: 0;
        position: absolute;
        top: 0;
        right: 10px;
        padding: 0;
        cursor: pointer;
        
        span {
          font-size: 20px;
          line-height: 1;
        }
        &:hover {
          color: $nugree;
        }
      }
      .text-center {
        padding: 4px;

        a {
          @include align(top);
          cursor: pointer;
          background: $white;
          padding: 0;
          text-decoration: underline;
          &:hover { text-decoration: none;}
        }
      }
    }
    .user-pic {
      @include squar(36px,36px);
      @extend %pull-left;
      border-radius: 100%;
      background: #b8babc;
      @extend %layout;
      margin: 14px 0 0;

      img { @extend %img-res;}
    }
  }
}
#page-holder,
#main {
  @extend %layout;
  position: relative;
}
#page-holder {
  padding: 65px 0 0;
  transition: padding 0.5s ease;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -ms-transition: padding 0.5s ease;

  .sideBar-active & {
    padding: 65px 0 0 270px;

    @include media('<desktop'){
      padding: 65px 0 0;
    }
  }
}
.table-responsive {
  overflow-x: auto;
  display: block;
}
.sideBar-opener {
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 30%;
  width: 20px;
  cursor: pointer;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;

  .sideBar-active &{
    width: 30px;

    @include media('<tablet'){
      width: 23px;
    }
  }

  span,
  &:after, &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    height: 2px;
    content: '';
    margin: -1px 0 0;

    @include media('<tablet'){
      margin: -2px 0 0;
    }
  }
  &:before {
    top: auto;
    bottom: 0;
  }
  span {
    top: 50%;
  }
}
#sidebar-dashboard {
  @extend %layout;
  background:$gen-color;
  width: 270px;
  position: fixed;
  top: 56px;
  left: -270px;
  bottom: 0;
  z-index: 9999;
  transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;

  @include media('<tablet'){
    width: 100%;
    left: -100%;
    top: 48px;
  }

  .sideBar-active & {
    left: 0;
  }

  .scroll-able {
    overflow: auto;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .profile-picture {
    @extend %layout;
    padding: 34px 10px 14px;

    .image-holder {
      margin: 0 auto;
      @include squar(60px,60px);
      border-radius: 100%;
      @extend %layout;

      img {
        border-radius: 100%;
        @extend %img-res;
        height: 100%;
      }
    }
    .name {
      @extend %layout;
      color: $white;
      padding: 10px;
      @extend %text-center;
      
      @include media('<desktop'){ padding: 10px 50px 0 10px;}

      strong, span { display: block;}
    }
  }
  .search-side-links {
    width: 243px;
    margin: 20px auto 0;
    @extend %layout;
    position: relative;

    input[type="text"], input[type="search"]{
      @include squar(100%, 33px);
      background: transparent;
      border: 0;
      border-bottom: 1px solid $white;
      display: block;
      padding: 7px 20px 7px 7px;
      color: $white;
      @include font(12,15);

      @include placeholder{ color: $white;}
    }
    button {
      position: absolute;
      top: 1px;
      right: 10px;
      bottom: 1px;
      color: $white;
      background: transparent;
      border: 0;
      padding: 9px 2px;
      @include font(14,17);
    }
  }
  .sideBar-links {
    @extend %listreset;
    @extend %layout;
    @include font(18,22);
    font-weight: 600;
    @extend %text-upparcase;

    li {
      display: block;

      &.active {
        > a {
          background: rgba($black, 0.5);
          border-left: 2px solid $orange;
          color: $white;

          &:after {
            display: block;
            @include media('<tablet'){ display: none !important;}
          }
        }
      }

      .total-tag{
        position: absolute;
        top:15px;
        right: 30px;
      }
      
      a {
        position: relative;
        display: block;
        padding: 15px 15px 15px 45px;
        color: rgba($white, 0.8);
        text-decoration: none;
        cursor: pointer;
        border-left: 2px solid transparent;

       &:after {
          position: absolute;
          top: 50%;
          right: 0;
          border: 8px solid transparent;
          border-right: 8px solid $white;
          content: '';
          margin: -4px 0 0;
          display: none;
        }

        &:hover {
          background: rgba($black, 0.5);
          border-left: 2px solid $orange;
          color: $white;

          &:after {
            display: block;
            @include media('<tablet'){ display: none !important;}
          }
        }

        span[class^="icon-"],span[class*="icon-"]{
          position: absolute;
          top: 13px;
          left: 7px;
          font-size: 25px;
          line-height: 1;
          font-weight: 400;
        }
      }
    }
    .sub-links {
      @extend %listreset;
      padding: 0 0 0 45px;
      @include font(13,16);

      li {
        &.active {
          a {
            background: rgba($p42-color, 0.5) !important;
          }
        }
        a{
          &:after { display: none;}
          &:hover {
            background: rgba($p42-color, 0.5) !important;
          }
        }
      }
    }
  }
  .social-icons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;

    li {
      a {
        color: $p42-default-grey;

        &:hover { color: $white;}
      }
    }
  }
}
.social-icons {
  @extend %listreset;
  @include align-reset(top, 12,12);
  @extend %text-center;

  li {
    padding: 0 5px 10px;

    a {
      text-decoration: none;

      span[class^="icon-"],span[class*="icon-"]{
        font-size: 28px;
        line-height: 1;
      }
    }
  }
}
.radio-checks-holder {
  @extend %listreset;
  @include align-reset(top, 16,20);
  font-weight: 700;
  margin: 10px 0 0;
  @extend %layout;
  @extend %text-center;

  @include media('<desktop'){
    @include align-reset(top, 12,15);
    text-align: center;
  }

  &.fore-type {
    max-width: 800px;
    margin: 10px auto;

    li { padding: 0 5px;}

    .customRadio{
      .fake-label{
        padding: 10px;
        display: block;
        border: 2px solid $nugree;
      }
    }
    input:checked ~{
      .fake-label{
        color: $white;
        background: $nugree;
      }
    }
  }

  li {
    width: 25%;
    font-weight: 600;

    @include media('<desktop'){
      width: 33.33%;
    }

    @include media('<tablet'){
      padding: 10px 3px;
    }

    span, label {
      @extend %text-captial;
      font-weight: 400;
      @include font(18,21);
      padding: 0;
      display: block;
    }
    .customRadio {
      text-align: center !important;
    }

    &.active {
      position: relative;
    }
  }
  &.subtype-links {
    li {
      padding: 10px 20px;
      .customRadio {
        padding: 0 20px 0 30px;
        text-align: left !important;
      }
    }
  }
}
.registerNow-heading,
.add-pro-heading {
    display: block;
    @extend %text-center;
    @extend %text-capital;
    color: $dark-grey;
    @include font(20,24);
    font-weight: 600;
    overflow: hidden;
    
    @include media('<tablet'){
        @include font(16,19);
    }

    &.smaller {
      @include font(16,19);

      @include media('<tablet'){
        @include font(12,15);
      }

      b {
        @include align(middle);
        @include font(12,15);
        padding: 0 5px;

        @include media('<tablet'){ display: none;}
      }
    }

    > span {
        @include align(top);
        padding: 5px;
        position: relative;

        &:before , &:after {
            position: absolute;
            top: 50%;
            left: -9999px;
            right: 110%;
            background: #bec0c2;
            content: '';
            height: 3px;
            margin: -2px 0 0;
        }
        &:after{
            right: -9999px;
            left: 110%;
        }
    }
}
.submit-query {
  @extend %layout;

  @include media('<tablet'){
    margin: 0 0 20px;
  }

  .layout{
    @include align-reset(top, 18, 21);
  }

  .input-holder{
    width: 33.33%;
    padding: 2px 10px 20px;
    
    @include media('<tablet'){
      width: 100%;
      display: block;
      padding: 0 0 5px;
    }

    &.full-width {
      @extend %full-width;
    }
  }
  textarea,
  input[type="text"],input[type="email"],input[type="password"]{
    @include squar(100%, 60px);
    display: block;
    margin: 0;
    padding: 17px 20px;
    border: 1px solid #838383;
    color: #838383;
    @include font(18,21);
    transition: border-color 0.5s ease;
    -webkit-transition: border-color 0.5s ease;
    -moz-transition: border-color 0.5s ease;
    -ms-transition: border-color 0.5s ease;

    &:focus{
      border-color: $p42-color;
      
      @include placeholder {
        color: $black;
      }
    }

    @include placeholder {
      color: #838383;
      transition: color 0.5s ease;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
    }
    
  }
  textarea{
    height: 200px;
    resize: none;
  }
 button[type="submit"]{
   display: block;
   width: 350px;
   @extend %text-upparcase;
   @include font(18,21);
   font-weight: 700;
   border: 0;
   padding: 0;
   margin: 0 auto;
   background: transparent;

   @include media('<tablet'){
     width: 100%;
   }

   span {
     display: block;
     position: relative;
     background: $p42-color;
     color: $white;
     z-index: 1;
     padding: 18px 10px;
     overflow: hidden;
     transition: background 0.5s ease;
     -webkit-transition: background 0.5s ease;
     -moz-transition: background 0.5s ease;
   }
   &:hover{
     span{
      background: $green;
     }
   }
 } 
}
.copyright{
  display: block;
  color: #838487;
  @include font(19, 28);
  font-weight: 400;

  a{
    color: #838487;
    text-decoration: none;
    &:hover { color: $p42-color;}
  }
}
.price {
  display: block;
  color: $p42-default-grey;
  @include font(18,22);
  font-weight: 800;
  padding: 0 0 10px;

  @include media('<widescreen'){
    @include font(18,22);
  }
  @include media('<tablet'){
    padding: 0 75px 10px 0;
  }

  span {
    font-weight: 400;
    padding: 0 5px;
  }
}
.calculatedPrice {
  display: none;
  @include font(14,18);
  font-weight: 600;
  color: $white;
  text-transform: none;
  background: $p42-color;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0 0;

  &.priceShow { display: block;}
}
.pager {
	@extend %listreset;
	text-align: center;
	@include align-reset(top,15,18);
	padding: 30px 0 0;
	
	@include media('<tablet'){
		padding: 30px 0;
		@include align-reset(top,15,18);
	}
	
	li {
		margin: 0 0 5px;
		
		&.active {
			a{
        opacity: 1;
        border-bottom: 4px solid $nugree;
        font-weight: bold;
			}
		}
		
		a{
			display: block;
			text-decoration: none;
			color: $nugree;
      opacity: 0.5;
      padding: 0 7px;
      border-bottom: 4px solid transparent;

      @include media('<tablet'){
        padding: 0 5px;
      }
			
      span{
        @include align(middle);
      }

			&:hover{
        opacity: 1;
			}
		}
	}
}
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.clearfix {
  display: block;
  overflow: visible;
  @extend %clearfix;
}
.feedBack {
  box-shadow: 0 0 5px rgba($black, 0.5);
  @include font(16,20);
  color: $white;
  text-decoration: none;
  background: $orange;
  position: relative;
  font-weight: 700;
  padding: 3px 34px 3px 15px;
  position: fixed;
  top: 50%;
  right: -50px;
  z-index: 999;
  margin: 30px 0 0 0;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;

  &:hover {
    background: $orange;
  }

  &:after {
    content: "\e91f";
    font-family: 'icomoon';
    color: $white;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
  }
}
.quick-links {
  @extend %listreset;
  @include align-reset(top, 25,25);
  margin:0 -5px;

  li {
    padding: 0 5px 10px;

    a {
      text-decoration: none;
      border: 1px solid $p42-color;
      color: $p42-color;
      display:  block;
      border-radius: 4px;
      padding: 5px;
      width: auto;
      transition: background 0.5s ease, color 0.5s ease;

      &:hover {
        color: $white;
        background: $p42-color;
      }
    }
  }
}
.public-ui-features {
  color: $p42-default-grey;
  @extend %listreset;

  @include media('<tablet'){
    overflow: hidden;
  }

  li {
    display: block;
    @include align-reset(top, 13, 16);

    @include media('<tablet'){
      float: left;
      @include align-reset(top, 11, 14);
    }

    span[class^="icon-"], span[class*="icon-"] {
      @include align(top);
      width: 35%;
      padding: 0;

      @include media('<desktop'){
        display:none;
      }
    }
    b {
      @include align(top);
      width: 65%;
      font-weight: 400;

      @include media('<tablet'){ width: auto;}
    }
    span {
      padding: 0 5px;
      width: 75%;

      @include media('<tablet'){
        width: auto;
      }
    }
    strong {
      width: 25%;
      @include font(17,20);
      font-weight: 700;
      @extend %text-center;
      padding: 0 10px 10px;
      border-left: 1px solid $p42-default-grey;

      @include media('<tablet'){
        padding: 0 5px 5px;
      }

      @include media('<tablet'){
        width: auto;
        padding: 0 5px;
        @include font(14,17);
      }
    }
  }
}
.views {
  @include align(top);
  @include font(13,16);
  @extend %text-capital;
  position: relative;
  color: $p42-default-grey;
  padding: 0 0 0 30px;

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "\e921";
    font-family: 'icomoon';
    font-size: 25px;
    line-height: 1;
    margin: -12px 0 0;
  }
  .number {
    @include align(top);
    padding: 0 5px;
  }
}
.paginationCurrent-num-1,
.current-num{ @extend .hidden;}
.sumery-list {
  @extend %listreset;

  li {
    display: block;
    @include align-reset(top, 17, 20);
    padding: 5px;

    @include media('<widescreen'){
      @include align-reset(top, 14, 20);
    }

    span {
      width: 50%;
    }
    .blue { color: $p42-color;}
    .quantity {
      @include font(14,18);
      @extend %text-right;
    }
  }
}
.timeOfAddedProperty {
  display: block;
  @include font(12, 15);
  color: $p42-default-grey;

  b {
    display: block;
    @include font(15,18);
  }
}
.small-heading {
  display: block;
  color: $p42-default-grey;
  font-weight: 700;
  @include font(21,24);
  padding: 0 0 10px;
  @extend %text-upparcase;

  @include media('<tablet'){
    @include font(16,20);
  }
}
.btn-hollow {
  @include align(top);
  @extend %text-upparcase;
  @include font(14,18);
  color: $nugree;
  border: 1px solid $nugree;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  padding: 10px 30px;
  transition: color 0.5s ease, background 0.5s ease;
  -webkit-transition: color 0.5s ease, background 0.5s ease;
  -moz-transition: color 0.5s ease, background 0.5s ease;
  -ms-transition: color 0.5s ease, background 0.5s ease;

  span[class^="icon-"],span[class*="icon-"]{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 22px;
    line-height: 1;
    margin: -11px 0 0;
  }

  &:hover {
    color: $white;
    background: $nugree;
  }
}
.generic-lightbox {
  width: 475px;
  @extend %text-center;
  position: relative;
  padding: 30px 0 0;

  @include media('<tablet'){
    width: 410px;
  }
  @include media('<phone'){
    width: 245px;
  }

  .lighbox-heading{
    color: $p42-default-grey;
    display: block;
    @include font(48,52);
    font-weight: 100;
    padding: 0 0 10px;

    span{
      color: $p42-color;
      font-weight: 400;
    }

    @include media('<tablet'){
      @include font(30,33);
    }
  }

  &.call-agent {
    p {
      position: relative;
      @include font(33,36);
      font-weight: 700;
      padding: 0 30px 10px;
      margin: 0 0 10px;

      &:before {
        font-family: 'icomoon';
        content: "\e90f";
        @include align(middle);
        font-size: 42px;
        line-height: 1;
        color: $p42-color;
        padding: 0 5px;
      }
    }
  }
}
.inquiry-email-form {
  @extend %text-left;
  overflow: hidden;
  padding: 3px;
  max-width: 375px;
  margin: 0 auto;

  .field-holder {
    @include align-reset(top, 17,21);
  }
  label{
    width: 25%;
    color: $p42-default-grey;
    font-weight: 700;
    @extend %text-capital;

    @include media('<tablet'){
      display: block;
      width: 100%;
      padding: 3px;
    }

    &:after {
      @include align(top);
      position: relative;
      content: '*';
      margin: 0 0 0 -1px;
    }
  }
  .input-holder {
    padding: 3px;
    @extend %layout;
    width: 75%;
    margin: 0 0 10px;

    @include media('<tablet'){
      display: block;
      width: 100%;
      margin: 0 0 5px;
    }

    p {
      @include font(12, 15);
      padding: 3px 0;

      a {
        color: $dark-grey;
        text-decoration: none;
        font-weight: bold;

        &:hover { color: $p42-color;}
      }
    }
  }
  input[type="text"], input[type="email"], input[type="tel"], textarea{
    @include squar(100% , 28px);
    border: 0;
    @include font(13, 17);
    padding: 5px;
  }
  textarea {
    height: 80px;
    resize: none;
    overflow: auto;
  }
  button[type="submit"] {
    display: block;
    @extend %text-upparcase;
    color: $white;
    width: 200px;
    background: $p42-color;
    border: 0;
    @include font(18,22);
    font-weight: 700;
    padding: 10px;
    margin: 0 auto;

    @include media('<tablet'){
      width: 100%;
      margin: 0;
    }

    &:hover {
      background: $green;
    }
  }
}
.input-holder {
  &.error{
    input[type="text"],input[type="tel"],input[type="password"],input[type="url"], input[type="email"],input[type="number"]{
      border: 1px solid $red !important;
    }
    .error-text {
      display: block;
    }
  }
}
.error-text {
  display: none;
  @include font(12,15);
  color: $red;
  padding: 2px;
}
.information {
  display: block;
  @include font(12,15);
  font-weight: 600;
  position: relative;
  @extend %text-left;
  padding: 3px 0 3px 23px;

  span[class^="icon-"],span[class*="icon-"]{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1;
  }
}
.forgot-pass {
    @include align(top);
    color: $dark-grey;
    text-decoration: none;
    margin: 5px 0 0;

    &:hover { color: $p42-color;}
}
.resize-active * {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}
.termsOfUse {
  @include align(top);
  color: $p42-default-grey;
}
.please-wait,
.loading-content{
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($white, 0.9);
    z-index: 789;
    content: '';
  }
  &:before {
    background: url('../images/ring1.gif') no-repeat;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -25px;
    z-index: 790;
    content: '';
    @include squar(50px,50px);
    color: $black;
    padding: 140px 0 0 30px;
  }
}
.multipal-actions {
  @extend %listreset;
  @include align-reset(top, 20, 25);
  padding: 0  10px;
  @extend %layout;
  min-height: 40px;

  @include media('<desktop'){ padding: 0;}

  li {
    padding: 5px;

    a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      background: $white;
      padding: 2px 7px 1px;
      border-radius: 4px;

      &.multipal-delete {
        color: $red;
        background: rgba($red, 0.3);
        border: 1px solid $red;
      }
    }
  }
}
.dashboard-statistics {
  @extend %layout;
  padding: 0 20px;

  h1 {
    @include font(28,31);
    @extend %text-left;
    font-weight: 300;

    @include media('<tablet'){
      @include font(20,24);
      margin: 0 0 10px;
    }

    span {
      color: $p42-default-grey;
      font-weight: 300;
      @include font(14,17);
    }
  }
  .statistics-slider {
    width: 100%;
    display: block;
    @extend %layout;
    
    @include media('<tablet'){
      overflow: auto;
    }
  }
  .statistics {
    @extend %listreset;
    @include align-reset(top, 20,24);
    color: $white;
    margin: 0 -15px 10px;

    @include media('<tvscreen'){
      margin: 0 -15px 10px;
    }
    @include media('<widescreen'){
      @include align-reset(top, 18,22);
    }
    
    @include media('<tablet'){
      white-space: nowrap;
      min-width: 1188px;
    }

    li {
      width: 25%;
      padding: 0 15px;

      @include media('<tvscreen'){
        padding: 0 5px;
      }

      .block {
        @extend %layout;
        @extend %text-right;
        padding: 26px 10px 27px;
        position: relative;
        z-index: 5;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          z-index: -1;
          opacity: 0.2;
        }

        &.properties {
          background:#588dbf;

          &:after{
            background:url('../images/ico03.png') no-repeat;
          }
        }
        &.projects {
          background:#e35b5b;
          &:after {
            background: url('../images/ico04.png') no-repeat;
          }
        }
        &.users {
          background:#44b6ae;
          &:after {
            background: url('../images/ico05.png') no-repeat;
            background-position: -20px 0;
          }
        }
        &.agents {
          background:#8775a7;

          &:after {
            background: url('../images/ico06.png') no-repeat;
            background-position: -22px 1px;
          }
        }
      }
      strong, span { display: block;}
      strong {
        @include font(34,37);
        margin: 0 0 10px;
      }
    }
  }
}
.propertyNotFound {
  @extend %layout;
  @extend %text-center;
  position: relative;
  @include font(16, 21);
  font-weight: 600;
  padding: 80px 20px;
  width: 100%;

  @include media('<tablet'){
      @include font(13,16);
      padding: 65px 5px;
    }

  &:after {
    background: url('../images/caution-sign.png') no-repeat;
    @include squar(200px, 200px);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    margin: 0 0 0 -100px;
    opacity: 0.25;
  }

  .no-heading {
    @extend %text-capital;
    display: block;
    opacity: 0.5;
    font-weight: 700;
    @include font(30,33);
    padding: 0 0 10px;

    @include media('<tablet'){
      @include font(20,23);
    }
  }
  p { opacity: 0.5;}
}