$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1540px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'add-property-form';
@import 'update-profile';
@import 'property-listing';
@import 'change-password';
@import 'property-detail';
@import 'fancybox';

.page-loader {
  background:#525252 url('../images/bg.jpg') no-repeat;
  background-size: 100% auto;
  @extend %layout;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  @extend %text-center;
  height: 100vh;
  white-space:nowrap;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, 0.85);
    content: '';
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    @include align(middle);
    width: 1px;
    overflow: hidden;
    margin:  0 0 0 -5px;
    content:'';
    height: 100vh;
  }

  .page-loader-holder {
    width: 100%;
    white-space:normal;
    @include align(middle);
    
    img {
      @extend %img-res;
      max-width: 150px;
      max-height: 150px;
      margin: 0 auto;
      pointer-events:none;
    }
  }
}
body{
  background:#525252 url('../images/bg.jpg') no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  z-index: 999999999;
  position: relative;

  @include media('<tablet'){
    background-size: 100% cover;
  }

  &:after {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, 0.90);
    content: '';
    z-index: -1;
    pointer-events: none;
  }
}
h1 {
  margin: 0 0 30px;
  width: 100%;

  @include media('<tablet'){
    margin: 0 0 15px;
    @include font(25,28);
  }
}
.global-error,
.global-success {
  position: relative;
  display: block;
  background: $green;
  @include font(14,17);
  @extend %text-capital;
  @extend %text-center;
  position: relative;
  color: $white;
  padding: 5px;
  font-weight: 600;

  &:after {
    position: absolute;
    top: 50%;
    left: 5px;
    content: "\e92f";
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0;
  } 
}
.global-error {
  background: $red;
  &:after {
    content: "\e92e";
  }
}
.btn-default{
  @include align(top);
  @include font(18,22);
  font-weight: 700;
  text-decoration: none;
  color: $white;
  background: $p42-color;
  padding: 10px 25px;
  border: 0;
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;

  @include media('<tablet'){
    @include font(14,18);
    padding: 10px;
  }

  &:hover {
    background: lighten( $p42-color, 10%);
  }
}
.customCheckbox,
.customRadio {
  position: relative;
  @include align(top);
  cursor: pointer;
  font-size: 13px !important;
  line-height: 22px !important;
  z-index: 5;
  padding: 0 20px 0 30px;
  text-align: left !important;

  @include media('<tablet'){
    font-size: 12px !important;
    padding: 0 5px 0 25px;
  }

  input[type="checkbox"], input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;

    &:checked ~ {
      .fake-checkbox,
      .fake-radio {
        &:after{ bottom: 0;}
      }
    }
  }
.fake-checkbox,
.fake-radio {
    @include squar(22px, 22px);
    border: 3px solid $p42-color;
    position: relative;
    color: $dark-grey;
    @include align(top);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      background: $p42-color;
      pointer-events: none;
      content: '';
      transition: bottom 0.5s ease;
      -webkit-transition: bottom 0.5s ease;
      -moz-transition: bottom 0.5s ease;
      -ms-transition: bottom 0.5s ease;
    }
  }
  .fake-label {
    padding: 0 0 0 10px;
    color: $dark-grey;
    @include align(top);
    pointer-events: none;
  }
}
.searchByID {
  @extend .pull-left;
  @include squar(200px, 45px);
  @extend %layout;
  position: relative;
  margin: 0 0 0 5px;
  
  @include media('<widescreen'){
    @include squar(150px, 45px);
  }

  @include media('<desktop'){
    margin: 0 0 0 30px;
  }

  @include media('<tablet'){
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 991;
    background: $p42-default-grey;
    @include squar(100%, 45px);
    display: none;
  }

  input[type="text"],input[type="search"]{
    @include squar(100%, 45px);
    display: block;
    color: $p42-default-grey;
    background: transparent;
    padding: 8px 35px 8px 8px;
    border-radius: 2px;
    @include font(14,17);
    font-weight: 700;
    border: 1px solid $p42-default-grey;
    
    @include media('<widescreen'){
      @include squar(100%, 45px);
      padding: 8px 35px 8px 8px;
    }

    @include media('<tablet'){
      color: $white;
    }

    &:focus {
      border-color: $p42-color;
      color: $p42-color;

      @include media('<tablet'){
        border-color: $p42-default-grey;
        color: $white;
      }
      
      ~ button {
          color: $p42-color;

          @include media('<tablet'){
            color: $white;
          }
      }
      @include placeholder{
        color: $p42-color;

        @include media('<tablet'){
          color: $white;
        }
      }
    }

    @include placeholder{
      color: $p42-default-grey;

      @include media('<tablet'){
        color: $white;
      }
    }
  }

  button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    border: 0;
    background: transparent;
    color: $p42-default-grey;
    padding: 0;

    span[class^="icon-"],span[class*="icon-"]{
      font-size: 20px;
      line-height: 45px;

      @include media('<widescreen'){
        line-height: 45px;
      }
      @include media('<tablet'){
        color: $white;
      }
    }
  }
}
.custom-withouChecks {
  display: block;
  width: 100%;

  &.transparent {
    input[type="radio"], input[type="checkbox"]{
      &:checked {
        ~ .fake-label{
          color: $white;
          background: $p42-color;
        }
      }
    }
    .fake-label {
      background: transparent;
      border: 1px solid $p42-color;
      color: $p42-color;
    }
  }

  input[type="radio"], input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &:checked {
      ~ .fake-label{
        background: $orange;
      }
    }
  }
  .fake-label {
    display: block;
    background: $p42-color;
    color: $white;
    @extend %text-center;
    padding: 5px;
    @extend  %text-capital;
    cursor: pointer;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
  }
}
.fake-select {
  width: 100%;
  @extend %layout;
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28px;
    background: $p42-color;
    content: '';
    pointer-events: none;
    cursor: pointer;
  }

  &:before {
    position: absolute;
    top: 50%;
    right: 10px;
    border: 4px solid transparent;
    border-top: 4px solid $black;
    content: '';
    z-index: 1;
    margin: -2px 0 0;
    pointer-events: none;
    cursor: pointer;
  }

  select {
    width: 100%;
    background: $white;
    border: 0;
    padding: 0 30px 0 10px;
    @include font(14, 40);
    height: 40px;
    @extend %layout;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.mail {
  @include align(top);
  color: $p42-default-grey;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  margin: 0 20px 10px 0;

  @include media('<tablet'){
    display: none;
  }

  &:hover {
    color: $p42-color;
  }
}
.logout-list {
  @extend %listreset;
  @include align-reset(top,14,17);
  font-weight: 700;
  display: block;
  width: 100%;
  margin: 0 -3px;

  @include media('<tvscreen'){
    @include align-reset(top,12,15);
    font-weight: 600;
  }

  li {
    width: 50%;
    padding: 0 3px;
    margin: 0 0 5px;
    @extend %text-center;
    position: relative;

    @include media('<tablet'){ margin: 5px 0 0;}

    &:hover {
      .dropDown { display: block;}
    }

    &:first-child {
      a{
        background: $p42-default-grey;
        padding: 10px;

        @include media('<widescreen'){
          text-align: center;
        }

        @include media('<tablet'){ padding: 5px;}

        .hidden{
          @include media('<tablet'){
            display: inline-block !important;
            vertical-align: top;
          }
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 10px 25px 10px 3px;
      color: $white;
      background: $p42-color;
      border-radius: 3px;
      position: relative;
      cursor: pointer;
      transition: background 0.5s ease;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -ms-transition: background 0.5s ease;

      @include media('<tvscreen'){
        padding: 10px 20px 10px 5px;
      }

      @include media('<widescreen'){
        text-align: left;
        padding: 10px 20px 10px 8px;
      }

      @include media('<tablet'){
        padding:5px;
        text-align: center;
      }

      span[class^="icon-"],span[class*="icon-"]{
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 14px;
        line-height: 1;
        margin: -7px 0 0;

        @include media('<tablet'){
          position: static;
          @include font(18px,23);
          margin: 0;
        }
      }
      &:hover {
        background: $orange;
      }
    }
  }
}
h1 {
  display: block;
  @extend %text-center;
  color: $p42-default-grey;
  font-weight: 400;

  span{
    color: $p42-color;
    font-weight: 700;
  }
}
#wrapper {
  @extend %layout;
  position: relative;
  min-height: 100vh;

  &.fancy-overlay {
    filter: blur(15px);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
  }
}

#header {
  @extend %clearfix;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;
  background: $p42-background;
  padding: 5px 5px 5px 50px;
  box-shadow: 0 0 15px 0 rgba($black,0.25);
  transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;

  @include media('<tvscreen'){
    padding: 10px 5px 10px 50px;
  }
  @include media('<widescreen'){
    padding:10px 5px 10px 35px;
  }
  @include media('<tablet'){
    padding:8px 5px 7px 55px;
  }

  .sideBar-active & {
    left: 260px;

    @include media('<desktop'){
      left: 0;
    }
  }

  .left-header {
    width: 25%;
    margin: 21px 0 0;
    position: relative;
    @extend .pull-left;

    @include media('<tvscreen'){
      width: 30%;
    }
    @include media('<tablet'){
      position: static;
      margin:0;
    }

    .searchOpener-Mobile,
    .home {
      @extend .pull-left;
      background: $p42-default-grey;
      @include squar(45px, 45px);
      color: $p42-background;
      @extend %text-center;
      text-decoration: none;
      font-size: 30px;
      line-height: 1;
      border-radius: 2px;
      cursor: pointer;
      
      @include media('<tablet'){
        @include squar(36px, 33px);
        font-size: 18px;
      }

      &:hover {
        background: $orange;
        color: $white;
      }

      span{
        @include align(top);
        margin: 6px 0 0;

        @include media('<tablet'){
          margin: 7px 0 0;
        }
      }
    }
    .home.hidden-xs {
      @include media('<desktop'){
        display: none;
      }
    }
    .searchOpener-Mobile {
      margin: 5px 3px 0;
      @include media('>=tablet'){
        display: none;
      }
    }
  }
  .right-header {
    width: 30%;
    @extend .pull-right;
    @extend %text-right;

    @include media('<tvscreen'){
      width: 40%;
    }
    @include media('<widescreen'){
      width: 37%;
    }
    @include media('<tablet'){
      width: 30%;
    }
  }
}
.logo {
  width: 100%;
  max-width: 215px;
  margin: 3px auto 0;
  position: relative;
  right: 70px;
  
  @include media('<tvscreen'){
    position: absolute; 
    top: 6px;
    left: 50%;
    right: auto;
    margin: 0 0 0 -135px;
  }
  @include media('<widescreen'){
    max-width: 175px;
    margin: 0 0 0 -110px;
    top: 21px;
  }

  @include media('<tablet'){
    max-width: 130px;
    margin:  0 0 0 -40px;
    top: 8px;
  }

  a { display: block;}
  img { @extend %img-res;}
}
#page-holder,
#main {
  @extend %layout;
  position: relative;
}
#page-holder {
  padding: 87px 0 0;
  transition: padding 0.5s ease;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -ms-transition: padding 0.5s ease;

  @include media('<tvscreen'){
    padding: 89px 0 0;
  }

  @include media('<tablet'){
    padding: 53px 0 0;
    min-height: 500px;
  }

  .sideBar-active & {
    padding: 87px 0 0 270px;

    @include media('<tvscreen'){
      padding: 89px 0 0 270px;
    }
    @include media('<desktop'){
      padding: 89px 0 0;
    }
    @include media('<tablet'){
      padding: 53px 0 0;
    }
  }
}
.table-responsive {
  overflow-x: auto;
  display: block;
}
.sideBar-opener {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 15px;
  border: 1px solid $p42-default-grey;
  cursor: pointer;
  border-radius: 0 20px 20px 0;

  &.Main {
    @include media('<desktop'){
      left: 10px;
      @include squar(30px, 20px);
      border: 0;
      border-radius: 0;
      top: 40px;
      bottom: auto;
      text-align: center;
      

      .sideBar-active & {
        span { right: 0;}
      }

      span,
      &:before,
      &:after {
        position: absolute;
        content: '';
        bottom: auto;
        border: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: $p42-color;
        border: 0;
        margin: 0;
      }
      span {
        top: 50%;
        margin: -1px 0 0;
        right: 25%;
      }
      &:before {
        top: auto;
        bottom: 0;
      }
    }
    @include media('<tablet'){ top: 20px;}
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid transparent;
    border-left: 5px solid $p42-default-grey;
    content: '';
    margin: -3px 0 0 -2px;
  }
}
#sidebar-dashboard {
  @extend %layout;
  background: rgba($p42-default-grey, 0.5);
  width: 270px;
  position: fixed;
  top: 0;
  left: -270px;
  bottom: 0;
  z-index: 9999;
  box-shadow: 1px 0 15px 0 rgba($black,0.4);
  transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;

  @include media('<desktop'){
    background: darken($p42-background, 20%);
  }
  @include media('<tablet'){
    width: 100%;
    left: -100%;
  }

  .sideBar-active & {
    left: 0;
  }

  .scroll-able {
    overflow: auto;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 45px;
  }

  .sideBar-opener {
    border: 2px solid $white;
    border-radius: 0;
    width: auto;
    bottom: auto;
    left: auto;
    right: 20px;
    top: 20px;
    color: $white;
    text-decoration: none;
    border-radius: 100%;

    @include media('>=desktop'){ display: none;}

    &:after { @extend %hidden;}

    span {
      display: block;
      font-size: 30px;
      line-height: 1;
    }
  }

  .profile-picture {
    background: $p42-default-grey;
    @extend %layout;
    padding: 14px 10px;
    box-shadow: 0 0 7px 0 rgba($black,0.4);

    .image-holder {
      @extend %pull-left;
      @include squar(60px,60px);
      border-radius: 100%;
      @extend %layout;

      img {
        border-radius: 100%;
        @extend %img-res;
        height: 100%;
      }
    }
    .name {
      @extend %layout;
      color: $white;
      padding: 10px 0 0 10px;
      
      @include media('<desktop'){ padding: 10px 50px 0 10px;}

      strong, span { display: block;}
    }
  }
  .alerts-links {
    background: $p42-default-grey;
    @extend %layout;
    padding: 10px 10px 5px;
    box-shadow: 0 0 7px 0 rgba($black,0.4);
  }
  .alerts{
    @extend %listreset;
    @include align-reset(top, 20,20);
    @extend %text-right;

    li {
      padding: 0 10px;
      position: relative;

      .count {
        color: $white;
        @include font(9,11);
        background: $red;
        position: absolute;
        top: -10px;
        right: -1px;
        padding: 4px 2px;
        @extend %text-center;
        border-radius: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        @extend %layout;
        @include squar(20px, 20px);
      }

      span[class^="icon-email-alerts"],span[class*="icon-email-alerts"]{
        font-size: 25px;
      }

      a {
        color: $dim-grey;
        text-decoration: none;

        &:hover { color: $white;}
      }
    }
  }
  .search-side-links {
    width: 243px;
    margin: 20px auto 10px;
    @extend %layout;
    position: relative;

    input[type="text"], input[type="search"]{
      @include squar(100%, 33px);
      background: $p42-default-grey;;
      border: 1px solid $white;
      display: block;
      padding: 7px 20px 7px 7px;
      color: $white;
      @include font(12,15);

      @include placeholder{ color: $white;}
    }
    button {
      position: absolute;
      top: 1px;
      right: 10px;
      bottom: 1px;
      color: $white;
      background: transparent;
      border: 0;
      padding: 9px 2px;
      @include font(14,17);
    }
  }
  .sideBar-links {
    @extend %listreset;
    @extend %layout;
    @include font(18,22);
    font-weight: 600;
    @extend %text-upparcase;

    li {
      display: block;

      &.active {
        > a {
          background: $p42-color;
          color: $white;
        }
      }

      .total-tag{
        position: absolute;
        top:15px;
        right: 10px;
      }
      
      a {
        position: relative;
        display: block;
        padding: 15px 15px 15px 45px;
        color: rgba($white, 0.8);
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: $p42-color;
          color: $white;
        }

        span[class^="icon-"],span[class*="icon-"]{
          position: absolute;
          top: 13px;
          left: 7px;
          font-size: 25px;
          line-height: 1;
          font-weight: 400;
        }
      }
    }
    .sub-links {
      @extend %listreset;
      padding: 0 0 0 45px;
      @include font(13,16);

      li {
        &.active {
          a {
            background: rgba($p42-color, 0.5) !important;
          }
        }
        a{
          &:hover {
            background: rgba($p42-color, 0.5) !important;
          }
        }
      }
    }
  }
  .social-icons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;

    li {
      a {
        color: $p42-default-grey;

        &:hover { color: $white;}
      }
    }
  }
}
.social-icons {
  @extend %listreset;
  @include align-reset(top, 12,12);
  @extend %text-center;

  li {
    padding: 0 5px 10px;

    a {
      text-decoration: none;

      span[class^="icon-"],span[class*="icon-"]{
        font-size: 28px;
        line-height: 1;
      }
    }
  }
}
.radio-checks-holder {
  @extend %listreset;
  @include align-reset(top, 16,20);
  font-weight: 700;
  margin: 10px 0 0;
  @extend %layout;
  @extend %text-center;

  @include media('<desktop'){
    @include align-reset(top, 12,15);
    text-align: center;
  }

  &.fore-type {
    max-width: 800px;
    margin: 10px auto;

    li { padding: 0 5px;}

    .customRadio{
      .fake-label{
        padding: 10px;
        display: block;
        border: 2px solid $p42-color;
      }
    }
    input:checked ~{
      .fake-label{
        background: $sharp-green;
        border-color: $sharp-green;
        color: $white;
      }
    }
  }

  li {
    width: 25%;
    font-weight: 600;

    @include media('<desktop'){
      width: 33.33%;
    }

    @include media('<tablet'){
      padding: 10px 3px;
    }

    span, label {
      @extend %text-captial;
      font-weight: 400;
      @include font(18,21);
      padding: 0;
      display: block;
    }
    .customRadio {
      text-align: center !important;
    }

    &.active {
      position: relative;
    }
  }
  &.subtype-links {
    li {
      padding: 10px 20px;
      .customRadio {
        padding: 0 20px 0 30px;
        text-align: left !important;
      }
    }
  }
}
.registerNow-heading,
.add-pro-heading {
    display: block;
    @extend %text-center;
    @extend %text-capital;
    color: $dark-grey;
    @include font(20,24);
    font-weight: 600;
    overflow: hidden;
    
    @include media('<tablet'){
        @include font(16,19);
    }

    &.smaller {
      @include font(16,19);

      @include media('<tablet'){
        @include font(12,15);
      }

      b {
        @include align(middle);
        @include font(12,15);
        padding: 0 5px;

        @include media('<tablet'){ display: none;}
      }
    }

    > span {
        @include align(top);
        padding: 5px;
        position: relative;

        &:before , &:after {
            position: absolute;
            top: 50%;
            left: -9999px;
            right: 110%;
            background: #bec0c2;
            content: '';
            height: 3px;
            margin: -2px 0 0;
        }
        &:after{
            right: -9999px;
            left: 110%;
        }
    }
}
























.submit-query {
  @extend %layout;

  @include media('<tablet'){
    margin: 0 0 20px;
  }

  .layout{
    @include align-reset(top, 18, 21);
  }

  .input-holder{
    width: 33.33%;
    padding: 2px 10px 20px;
    
    @include media('<tablet'){
      width: 100%;
      display: block;
      padding: 0 0 5px;
    }

    &.full-width {
      @extend %full-width;
    }
  }
  textarea,
  input[type="text"],input[type="email"],input[type="password"]{
    @include squar(100%, 60px);
    display: block;
    margin: 0;
    padding: 17px 20px;
    border: 1px solid #838383;
    color: #838383;
    @include font(18,21);
    transition: border-color 0.5s ease;
    -webkit-transition: border-color 0.5s ease;
    -moz-transition: border-color 0.5s ease;
    -ms-transition: border-color 0.5s ease;

    &:focus{
      border-color: $p42-color;
      
      @include placeholder {
        color: $black;
      }
    }

    @include placeholder {
      color: #838383;
      transition: color 0.5s ease;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
    }
    
  }
  textarea{
    height: 200px;
    resize: none;
  }
 button[type="submit"]{
   display: block;
   width: 350px;
   @extend %text-upparcase;
   @include font(18,21);
   font-weight: 700;
   border: 0;
   padding: 0;
   margin: 0 auto;
   background: transparent;

   @include media('<tablet'){
     width: 100%;
   }

   span {
     display: block;
     position: relative;
     background: $p42-color;
     color: $white;
     z-index: 1;
     padding: 18px 10px;
     overflow: hidden;
     transition: background 0.5s ease;
     -webkit-transition: background 0.5s ease;
     -moz-transition: background 0.5s ease;
   }
   &:hover{
     span{
      background: $green;
     }
   }
 } 
}
.copyright{
  display: block;
  color: #838487;
  @include font(19, 28);
  font-weight: 400;

  a{
    color: #838487;
    text-decoration: none;
    &:hover { color: $p42-color;}
  }
}

.price {
  display: block;
  color: $p42-default-grey;
  @include font(18,22);
  font-weight: 800;
  padding: 0 0 10px;

  @include media('<widescreen'){
    @include font(18,22);
  }
  @include media('<tablet'){
    padding: 0 75px 10px 0;
  }

  span {
    font-weight: 400;
    padding: 0 5px;
  }
}
.calculatedPrice {
  display: none;
  @include font(14,18);
  font-weight: 600;
  color: $white;
  text-transform: none;
  background: $p42-color;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0 0;

  &.priceShow { display: block;}
}
.pager {
	@extend %listreset;
	text-align: center;
	@include align-reset(top,15,18);
	padding: 30px 0 0;
	
	@include media('<tablet'){
		padding: 30px 0;
		@include align-reset(top,15,18);
	}
	
	li {
		margin: 0 0 5px;
		
		&.active {
			a{
        opacity: 1;
        border-bottom: 4px solid $p42-color;
        font-weight: bold;
			}
		}
		
		a{
			display: block;
			text-decoration: none;
			color: $p42-color;
      opacity: 0.5;
      padding: 0 7px;
      border-bottom: 4px solid transparent;

      @include media('<tablet'){
        padding: 0 5px;
      }
			
      span{
        @include align(middle);
      }

			&:hover{
        opacity: 1;
			}
		}
	}
}
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.clearfix {
  display: block;
  overflow: visible;
  @extend %clearfix;
}
.feedBack {
  box-shadow: 0 0 5px rgba($black, 0.5);
  @include font(16,20);
  color: $white;
  text-decoration: none;
  background: $orange;
  position: relative;
  font-weight: 700;
  padding: 3px 34px 3px 15px;
  position: fixed;
  top: 50%;
  right: -50px;
  z-index: 999;
  margin: 30px 0 0 0;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;

  &:hover {
    background: $orange;
  }

  &:after {
    content: "\e91f";
    font-family: 'icomoon';
    color: $white;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
  }
}
.quick-links {
  @extend %listreset;
  @include align-reset(top, 25,25);
  margin:0 -5px;

  li {
    padding: 0 5px 10px;

    a {
      text-decoration: none;
      border: 1px solid $p42-color;
      color: $p42-color;
      display:  block;
      border-radius: 4px;
      padding: 5px;
      width: auto;
      transition: background 0.5s ease, color 0.5s ease;

      &:hover {
        color: $white;
        background: $p42-color;
      }
    }
  }
}
.public-ui-features {
  color: $p42-default-grey;
  @extend %listreset;

  @include media('<tablet'){
    overflow: hidden;
  }

  li {
    display: block;
    @include align-reset(top, 13, 16);

    @include media('<tablet'){
      float: left;
      @include align-reset(top, 11, 14);
    }

    span[class^="icon-"], span[class*="icon-"] {
      @include align(top);
      width: 35%;
      padding: 0;

      @include media('<desktop'){
        display:none;
      }
    }
    b {
      @include align(top);
      width: 65%;
      font-weight: 400;

      @include media('<tablet'){ width: auto;}
    }
    span {
      padding: 0 5px;
      width: 75%;

      @include media('<tablet'){
        width: auto;
      }
    }
    strong {
      width: 25%;
      @include font(17,20);
      font-weight: 700;
      @extend %text-center;
      padding: 0 10px 10px;
      border-left: 1px solid $p42-default-grey;

      @include media('<tablet'){
        padding: 0 5px 5px;
      }

      @include media('<tablet'){
        width: auto;
        padding: 0 5px;
        @include font(14,17);
      }
    }
  }
}
.views {
  @include align(top);
  @include font(13,16);
  @extend %text-capital;
  position: relative;
  color: $p42-default-grey;
  padding: 0 0 0 30px;

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "\e921";
    font-family: 'icomoon';
    font-size: 25px;
    line-height: 1;
    margin: -12px 0 0;
  }
  .number {
    @include align(top);
    padding: 0 5px;
  }
}

.paginationCurrent-num-1,
.current-num{ @extend .hidden;}
.sumery-list {
  @extend %listreset;

  li {
    display: block;
    @include align-reset(top, 17, 20);
    padding: 5px;

    @include media('<widescreen'){
      @include align-reset(top, 14, 20);
    }

    span {
      width: 50%;
    }
    .blue { color: $p42-color;}
    .quantity {
      @include font(14,18);
      @extend %text-right;
    }
  }
}
.timeOfAddedProperty {
  display: block;
  @include font(12, 15);
  color: $p42-default-grey;

  b {
    display: block;
    @include font(15,18);
  }
}
.small-heading {
  display: block;
  color: $p42-default-grey;
  font-weight: 700;
  @include font(21,24);
  padding: 0 0 10px;
  @extend %text-upparcase;

  @include media('<tablet'){
    @include font(16,20);
  }
}
.btn-hollow {
  @include align(top);
  @extend %text-upparcase;
  @include font(14,18);
  color: $p42-color;
  border: 1px solid $p42-color;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  padding: 10px 10px 10px 35px;
  transition: color 0.5s ease, background 0.5s ease;
  -webkit-transition: color 0.5s ease, background 0.5s ease;
  -moz-transition: color 0.5s ease, background 0.5s ease;
  -ms-transition: color 0.5s ease, background 0.5s ease;

  span[class^="icon-"],span[class*="icon-"]{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 22px;
    line-height: 1;
    margin: -11px 0 0;
  }

  &:hover {
    color: $white;
    background: $p42-color;
  }
}
.generic-lightbox {
  width: 475px;
  @extend %text-center;
  position: relative;
  padding: 30px 0 0;

  @include media('<tablet'){
    width: 410px;
  }
  @include media('<phone'){
    width: 245px;
  }

  .lighbox-heading{
    color: $p42-default-grey;
    display: block;
    @include font(48,52);
    font-weight: 100;
    padding: 0 0 10px;

    span{
      color: $p42-color;
      font-weight: 400;
    }

    @include media('<tablet'){
      @include font(30,33);
    }
  }

  &.call-agent {
    p {
      position: relative;
      @include font(33,36);
      font-weight: 700;
      padding: 0 30px 10px;
      margin: 0 0 10px;

      &:before {
        font-family: 'icomoon';
        content: "\e90f";
        @include align(middle);
        font-size: 42px;
        line-height: 1;
        color: $p42-color;
        padding: 0 5px;
      }
    }
  }
}
.inquiry-email-form {
  @extend %text-left;
  overflow: hidden;
  padding: 3px;
  max-width: 375px;
  margin: 0 auto;

  .field-holder {
    @include align-reset(top, 17,21);
  }
  label{
    width: 25%;
    color: $p42-default-grey;
    font-weight: 700;
    @extend %text-capital;

    @include media('<tablet'){
      display: block;
      width: 100%;
      padding: 3px;
    }

    &:after {
      @include align(top);
      position: relative;
      content: '*';
      margin: 0 0 0 -1px;
    }
  }
  .input-holder {
    padding: 3px;
    @extend %layout;
    width: 75%;
    margin: 0 0 10px;

    @include media('<tablet'){
      display: block;
      width: 100%;
      margin: 0 0 5px;
    }

    p {
      @include font(12, 15);
      padding: 3px 0;

      a {
        color: $dark-grey;
        text-decoration: none;
        font-weight: bold;

        &:hover { color: $p42-color;}
      }
    }
  }
  input[type="text"], input[type="email"], input[type="tel"], textarea{
    @include squar(100% , 28px);
    border: 0;
    @include font(13, 17);
    padding: 5px;
  }
  textarea {
    height: 80px;
    resize: none;
    overflow: auto;
  }
  button[type="submit"] {
    display: block;
    @extend %text-upparcase;
    color: $white;
    width: 200px;
    background: $p42-color;
    border: 0;
    @include font(18,22);
    font-weight: 700;
    padding: 10px;
    margin: 0 auto;

    @include media('<tablet'){
      width: 100%;
      margin: 0;
    }

    &:hover {
      background: $green;
    }
  }
}
.input-holder {
  &.error{
    input[type="text"],input[type="tel"],input[type="password"],input[type="url"], input[type="email"],input[type="number"]{
      border: 1px solid $red !important;
    }
    .error-text {
      display: block;
    }
  }
}
.error-text {
  display: none;
  @include font(12,15);
  color: $red;
  padding: 2px;
}

.information {
  display: block;
  @include font(12,15);
  font-weight: 600;
  position: relative;
  @extend %text-left;
  padding: 3px 0 3px 23px;

  span[class^="icon-"],span[class*="icon-"]{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1;
  }
}
.forgot-pass {
    @include align(top);
    color: $dark-grey;
    text-decoration: none;
    margin: 5px 0 0;

    &:hover { color: $p42-color;}
}
.resize-active * {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}
.termsOfUse {
  @include align(top);
  color: $p42-default-grey;
}
.please-wait,
.loading-content{
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($white, 0.9);
    z-index: 789;
    content: '';
  }
  &:before {
    background: url('../images/ring1.gif') no-repeat;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -25px;
    z-index: 790;
    content: '';
    @include squar(50px,50px);
    color: $black;
    padding: 140px 0 0 30px;
  }
}
.multipal-actions {
  @extend %listreset;
  @include align-reset(top, 20, 25);
  padding: 0  10px;
  @extend %layout;
  min-height: 40px;

  @include media('<desktop'){ padding: 0;}

  li {
    padding: 5px;

    a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      background: $white;
      padding: 2px 7px 1px;
      border-radius: 4px;

      &.multipal-delete {
        color: $red;
        background: rgba($red, 0.3);
        border: 1px solid $red;
      }
    }
  }
}