<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link media="all" rel="stylesheet" href="css/main.css">
	<link media="all" rel="stylesheet" href="css/_select2-min.css">
	<title>nugree - Super Admin</title>
	<link rel="icon" type="image/png" href="images/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="images/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
</head>
<body class="loading-page sideBar-active">
	<!--<div class="page-loader">
		<div class="page-loader-holder">
			<img src="images/loader.gif" alt="Property42 loading">
		</div>
	</div>-->
	<div id="wrapper">
		<header id="header">
			<a class="sideBar-opener"><span></span></a>
			<div class="right-header">
				<a href="#" class="logout">Logout <span class="icon-login"></span></a>
				<ul class="alerts">
					<li>
						<a href="#"><span class="icon-message"></span></a>
						<span class="count">999</span>
					</li>
					<li>
						<a href="#"><span class="icon-email-alerts"></span></a>
						<span class="count">99</span>
					</li>
				</ul>
				<a class="searchOpener-Mobile"><span class="icon-search"></span></a>
				<form class="searchByID">
					<input type="search" placeholder="Search by ID">
					<button type="submit"><span class="icon-search"></span></button>
				</form>
			</div>
			<div class="logo"><a href="#"><img width="477" height="150" alt="Property42" src="images/logo.png"></a></div>
		</header>
		<main id="main" role="main">
			<aside id="sidebar-dashboard">
				<div class="profile-picture">
					<div class="image-holder"><img src="images/user-noimage.png" alt="user image is broken"></div>
					<div class="name">
						<strong class="name-tag">Aatif Sultan</strong>
					</div>
				</div>
				<form class="search-side-links">
					<input type="search" placeholder="Search Links">
					<button type="submit"><span class="icon-search"></span></button>
				</form>
				<div class="scroll-able">
					<ul class="sideBar-links">
						<li><a href="#"><span class="icon-home2"></span>DASHBOARD</a></li>
						<li class="active"><a href="#"><span class="icon-list"></span>LISTING<span class="total-tag">117</span></a></li>
						<li><a href="#"><span class="icon-real-state-seller"></span>Agents<span class="total-tag">0</span></a></li>
						<li><a href="#"><span class="icon-holding-hands-in-a-circle"></span>Add Societies</a></li>
						<li><a href="#"><span class="icon-d-building"></span>Cities</a></li>
						<li><a href="#"><span class="icon-d-building"></span>Blocks</a></li>
						<li><a href="#"><span class="icon-prize-banner"></span>Banners</a></li>
						<li><a href="#"><span class="icon-architect-with-building-project"></span>Projects</a></li>
						<li><a href="#"><span class="icon-folded-newspaper"></span>News</a></li>
					</ul>
				</div>
			</aside>
			<div id="page-holder">
				<!--<div class="dashboard-statistics">
					<h1>Dashboard  <span>dashboard &amp; statistics</span></h1>
					<div class="statistics-slider">
						<ul class="statistics">
							<li>
								<div class="block properties">
									<strong>13004</strong>
									<span>Total Properties</span>
								</div>
							</li>
							<li>
								<div class="block projects">
									<strong>13004</strong>
									<span>Total Projects</span>
								</div>
							</li>
							<li>
								<div class="block users">
									<strong>13004</strong>
									<span>Total Users</span>
								</div>
							</li>
							<li>
								<div class="block agents">
									<strong>13004</strong>
									<span>Total Agents</span>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
				<div class="property-listing-page">
					<a class="property-status-links-opener"><span class="text-container">active</span><span class="lines"></span></a>
					<ul class="property-status-links">
						<li><a href="#" class="active">ACTIVE <span class="number">117</span></a></li>
						<li><a href="#" class="pending">pending <span class="number">17</span></a></li>
						<li><a href="#" class="rejected">rejected <span class="number">11</span></a></li>
						<li><a href="#" class="expired">expired <span class="number">114</span></a></li>
						<li class="active"><a href="#" class="deleted">deleted <span class="number">1174</span></a></li>
					</ul>
					<ul class="sorting-filtering">
						<li>
							<label for="sort-by">Sort By</label>
							<div class="input-holder">
								<span class="fake-select">
									<select id="sort-by">
										<option>ID</option>
										<option>ID</option>
										<option>ID</option>
										<option>ID</option>
									</select>
								</span>
							</div>
						</li>
						<li>
							<label for="order-by">Order</label>
							<div class="input-holder">
								<span class="fake-select">
									<select id="order-by">
										<option>Ascending</option>
									</select>
								</span>
							</div>
						</li>
						<li>
							<label for="view-by">View</label>
							<div class="input-holder">
								<form>
									<select id="view-by" class="js-example-basic-single">
										<option selected disabled>select</option>
										<option>20</option>
										<option>20</option>
									</select>
									<button type="submit">Go</button>
								</form>
							</div>
						</li>
					</ul>
					<ul class="multipal-actions">
						<li><a href="#" class="multipal-delete"><span class="icon-bin-delete"></span></a></li>
					</ul>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-type border"><p>TYPE</p></div>
								<div class="pro-location border"><p>LOCATION</p></div>
								<div class="pro-price border"><p>PRICE (Pkr)</p></div>
								<div class="pro-size border"><p>Size</p></div>
								<div class="pro-date border"><p>Date</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-type border"><p>Plots. Residential Plot 1 Kanal</p></div>
								<div class="pro-location border"><p>DHA Phase 9 Prism - C Block</p></div>
								<div class="pro-price border"><p>12300000</p></div>
								<div class="pro-size border"><p>12300000</p></div>
								<div class="pro-date border"><p>18 Apr 2016</p></div>
								<div class="pro-controls border"></div>
								<div class="fullDetail_ui text-left">
									<div class="listing-imageSlider">
										<div class="mask">
											<div class="slideset">
												<div class="slide"><img src="images/img01.jpg" alt="image description"></div>
												<div class="slide"><img src="images/img01.jpg" alt="image description"></div>
												<div class="slide"><img src="images/img01.jpg" alt="image description"></div>
												<div class="slide"><img src="images/img01.jpg" alt="image description"></div>
											</div>
											<a href="#" class="btn-prev"><span class="icon-keyboard_arrow_left"></span></a>
											<a href="#" class="btn-next"><span class="icon-keyboard_arrow_right"></span></a>
										</div>
									</div>
									<div class="description">
										<div class="layout">
											<strong class="heading">1 Kanal Residential Plot for-sale in Y Block DHA Phase 7</strong>
											<p>2 Kanal House For Rent Phase 1 Block - N DHA Lahore. Located: Phase 1,DHA Lahore 6 Bedrooms With Attached Baths 2 Kitchens Drawing Room Dining Room TV Lounges Tiled Flooring Double Lawn Servant Quarter Near to School Colleges . Market and Park For more information, please feel free to contact us.</p>
										</div>
										<ul class="control-link">
											<li class="active"><button><span class="icon-verification-square-button"></span>Active</button></li>
											<li class="deactive"><button><span class="icon-cross"></span>Deactive</button></li>
											<li class="pending"><button><span class="icon-timer"></span>Pending</button></li>
											<li class="reject"><button><span class="icon-reject-thunder"></span>Reject</button></li>
											<li class="delete"><button><span class="icon-bin-delete"></span>Delete</button></li>
											<li class="verified"><button><span class="icon-verified-contact"></span>Verified</button></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
					<ul class="pager">
						<li><a href="#" class="first"><span class="icon-arrow1-left"></span></a></li>
						<li><a href="#" class="previous"><span class="icon-bold-arrow-left"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#" class="next"><span class="icon-bold-arrow-right"></span></a></li>
						<li><a href="#" class="last"><span class="icon-arrow1-right"></span></a></li>
					</ul>
				</div>
				<!--<div class="user-listing-page">
					<a class="property-status-links-opener"><span class="text-container">active</span><span class="lines"></span></a>
					<ul class="property-status-links">
						<li><a href="#" class="active">ACTIVE <span class="number">117</span></a></li>
						<li><a href="#" class="pending">pending <span class="number">17</span></a></li>
						<li><a href="#" class="rejected">rejected <span class="number">11</span></a></li>
						<li><a href="#" class="expired">expired <span class="number">114</span></a></li>
						<li class="active"><a href="#" class="deleted">deleted <span class="number">1174</span></a></li>
					</ul>
					<ul class="sorting-filtering">
						<li>
							<span class="fake-select">
								<select id="sort-by">
									<option>ID</option>
									<option>ID</option>
									<option>ID</option>
									<option>ID</option>
								</select>
							</span>
						</li>
						<li>
							<span class="fake-select">
								<select id="order-by">
									<option>Ascending</option>
								</select>
							</span>
						</li>
						<li>
							<span class="fake-select">
								<select id="view-by">
									<option>20</option>
									<option>20</option>
									<option>20</option>
								</select>
							</span>
						</li>
						<li>
							<span class="fake-select">
								<select id="view-by">
									<option>20</option>
									<option>20</option>
									<option>20</option>
								</select>
							</span>
						</li>
					</ul>
					<ul class="multipal-actions">
						<li><a href="#" class="multipal-delete"><span class="icon-bin-delete"></span></a></li>
					</ul>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-name border"><p>Name</p></div>
								<div class="pro-email border"><p>Email</p></div>
								<div class="pro-address border"><p>Address</p></div>
								<div class="pro-date border"><p>Date</p></div>
								<div class="pro-role border"><p>Roles</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-name border"><p>Muhammad Asif</p></div>
								<div class="pro-email border"><p>jrasif167@gmail.com</p></div>
								<div class="pro-address border"><address>Airport Road, Near Metro Cash &amp; Carry,  Opposite DHA Phase-VIII, Defence Road, Lahore Cantt.</address></div>
								<div class="pro-date border"><time>11/12/2015</time></div>
								<div class="pro-role border">
									<span class="p-role">Aenant</span>
									<span class="p-role">Agent/Broker</span>
									<span class="p-role">Appraiser</span>
									<span class="p-role">Architect</span>
								</div>
								<div class="pro-controls border"></div>
								<div class="fullDetail_ui text-left">
									<div class="person-pic-holder">
										<a href="#"><img src="images/img02.jpg" alt="image description"></a>
									</div>
									<div class="description">
										<div class="layout">
											<strong class="heading">Muhammad Asif</strong>
											<p>2 Kanal House For Rent Phase 1 Block - N DHA Lahore. Located: Phase 1,DHA Lahore 6 Bedrooms With Attached Baths 2 Kitchens Drawing Room Dining Room TV Lounges Tiled Flooring Double Lawn Servant Quarter Near to School Colleges . Market and Park For more information, please feel free to contact us.</p>
										</div>
										<ul class="control-link">
											<li class="active"><button><span class="icon-verification-square-button"></span>Active</button></li>
											<li class="deactive"><button><span class="icon-cross"></span>Deactive</button></li>
											<li class="pending"><button><span class="icon-timer"></span>Pending</button></li>
											<li class="reject"><button><span class="icon-reject-thunder"></span>Reject</button></li>
											<li class="delete"><button><span class="icon-bin-delete"></span>Delete</button></li>
											<li class="verified"><button><span class="icon-verified-contact"></span>Verified</button></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
					<ul class="pager">
						<li><a href="#" class="first"><span class="icon-arrow1-left"></span></a></li>
						<li><a href="#" class="previous"><span class="icon-bold-arrow-left"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#" class="next"><span class="icon-bold-arrow-right"></span></a></li>
						<li><a href="#" class="last"><span class="icon-arrow1-right"></span></a></li>
					</ul>
				</div>-->
				<!--<div class="agents-listing-page">
					<a class="property-status-links-opener"><span class="text-container">active</span><span class="lines"></span></a>
					<ul class="property-status-links">
						<li><a href="#" class="active">ACTIVE <span class="number">117</span></a></li>
						<li><a href="#" class="pending">pending <span class="number">17</span></a></li>
						<li><a href="#" class="rejected">rejected <span class="number">11</span></a></li>
						<li><a href="#" class="expired">expired <span class="number">114</span></a></li>
						<li class="active"><a href="#" class="deleted">deleted <span class="number">1174</span></a></li>
					</ul>
					<ul class="sorting-filtering">
						<li>
							<span class="fake-select">
								<select id="sort-by">
									<option>ID</option>
									<option>ID</option>
									<option>ID</option>
									<option>ID</option>
								</select>
							</span>
						</li>
						<li>
							<span class="fake-select">
								<select id="order-by">
									<option>Ascending</option>
								</select>
							</span>
						</li>
						<li>
							<span class="fake-select">
								<select id="view-by">
									<option>20</option>
									<option>20</option>
									<option>20</option>
								</select>
							</span>
						</li>
						<li>
							<span class="fake-select">
								<select id="view-by">
									<option>20</option>
									<option>20</option>
									<option>20</option>
								</select>
							</span>
						</li>
					</ul>
					<ul class="multipal-actions">
						<li><a href="#" class="multipal-delete"><span class="icon-bin-delete"></span></a></li>
					</ul>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-name border"><p>Name</p></div>
								<div class="pro-email border"><p>Email</p></div>
								<div class="pro-address border"><p>Address</p></div>
								<div class="pro-AgencyName border"><p>Agency Name</p></div>
								<div class="pro-role border"><p>Roles</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-name border"><p>Muhammad Asif</p></div>
								<div class="pro-email border"><p>jrasif167@gmail.com</p></div>
								<div class="pro-address border"><address>Airport Road, Near Metro Cash &amp; Carry,  Opposite DHA Phase-VIII, Defence Road, Lahore Cantt.</address></div>
								<div class="pro-AgencyName border"><p>Real Estate (Ltd) </p></div>
								<div class="pro-role border">
									<span class="p-role">Aenant</span>
									<span class="p-role">Agent/Broker</span>
									<span class="p-role">Appraiser</span>
									<span class="p-role">Architect</span>
								</div>
								<div class="pro-controls border"></div>
								<div class="fullDetail_ui text-left">
									<div class="person-pic-holder">
										<a href="#"><img src="images/img03.jpg" alt="image description"></a>
									</div>
									<div class="description">
										<div class="layout">
											<strong class="heading">Muhammad Asif</strong>
											<p>2 Kanal House For Rent Phase 1 Block - N DHA Lahore. Located: Phase 1,DHA Lahore 6 Bedrooms With Attached Baths 2 Kitchens Drawing Room Dining Room TV Lounges Tiled Flooring Double Lawn Servant Quarter Near to School Colleges . Market and Park For more information, please feel free to contact us.</p>
											<a class="btn-default moreDetail-slideOpener">View more</a>
										</div>
										<ul class="control-link">
											<li class="active"><button><span class="icon-verification-square-button"></span>Active</button></li>
											<li class="deactive"><button><span class="icon-cross"></span>Deactive</button></li>
											<li class="pending"><button><span class="icon-timer"></span>Pending</button></li>
											<li class="reject"><button><span class="icon-reject-thunder"></span>Reject</button></li>
											<li class="delete"><button><span class="icon-bin-delete"></span>Delete</button></li>
											<li class="verified"><button><span class="icon-verified-contact"></span>Verified</button></li>
											<li>
												<div class="layout">
													<input type="tel" placeholder="Priority">
													<button type="submit">Submit</button>
												</div>

											</li>
										</ul>
									</div>
								</div>
								<div class="moreDetail-slide">
									<div class="layout colored">
										<div class="pro-name border"><p>Agency Name</p></div>
										<div class="pro-email border"><p>Company Email</p></div>
										<div class="pro-address border"><p>Company Address</p></div>
										<div class="pro-m-number border"><p>Mobile Number</p></div>
										<div class="pro-p-number border"><p>Phone Number</p></div>
									</div>
									<div class="layout">
										<div class="pro-name border"><p>Muhammad Asif</p></div>
										<div class="pro-email border"><p>jrasif167@gmail.com</p></div>
										<div class="pro-address border"><address>Airport Road, Near Metro Cash &amp; Carry,  Opposite DHA Phase-VIII, Defence Road, Lahore Cantt.</address></div>
										<div class="pro-m-number border"><a href="tel:923364049162">+923364049162</a></div>
										<div class="pro-p-number border"><a href="tel:9242111167167">+92-42-111-167-167</a></div>
									</div>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
					<ul class="pager">
						<li><a href="#" class="first"><span class="icon-arrow1-left"></span></a></li>
						<li><a href="#" class="previous"><span class="icon-bold-arrow-left"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#" class="next"><span class="icon-bold-arrow-right"></span></a></li>
						<li><a href="#" class="last"><span class="icon-arrow1-right"></span></a></li>
					</ul>
				</div>-->
				<!--<div class="addCity container">
					<h2>Add City</h2>
					<form action="">
						<div class="layout">
							<label for="city-name">City Name</label>
							<div class="input-holder">
								<input type="text" id="city-name">
							</div>
						</div>
							<div class="layout">
							<label>Select Countary</label>
							<div class="input-holder">
							<span class="fake-select">
								<select>
									<option>PAKISTAN</option>
								</select>
							</span>
							</div>
						</div>
							<div class="layout">
							<label for="city-pro">City priority</label>
							<div class="input-holder">
								<input type="text" id="city-pro">
							</div>
						</div>
						<ul class="image-uploading-area">
							<li>
								<div class="file-uploader">
									<input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
									<div class="image-holder">
										<img src="#" class="img-thumb1" alt="image Description">
										<span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
									</div>
								</div>
								<input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
								<span class="error-text">This is error</span>
							</li>
						</ul>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add City<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="addSocieties container">
					<h2>Add Societies</h2>
					<form>
						<div class="layout">
							<label for="society-name">City Name</label>
							<div class="input-holder">
								<select class="js-example-basic-single">
									<option>acha</option>
									<option>ok</option>
									<option>hmm</option>
								</select>
							</div>
						</div>
						<div class="layout">
							<label for="society-pro">Society priority</label>
							<div class="input-holder">
								<input type="text" id="society-pro">
							</div>
						</div>
						<ul class="image-uploading-area">
							<li>
								<div class="file-uploader">
									<input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
									<div class="image-holder">
										<img src="#" class="img-thumb1" alt="image Description">
										<span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
									</div>
								</div>
								<input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
								<span class="error-text">This is error</span>
							</li>
						</ul>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add Society<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="city-listing">
					<div class="layout text-right"><a href="#" class="btn-hollow">Add a City</a></div>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-city border"><p>City name</p></div>
								<div class="pro-priority border"><p>Priority</p></div>
								<div class="pro-date border"><p>Date</p></div>
								<div class="pro-image border"><p>Image</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-city border"><p>Gwader</p></div>
								<div class="pro-priority border"><p>10000000</p></div>
								<div class="pro-date border"><time>11/12/2015</time></div>
								<div class="pro-image border"><img src="images/img04.jpg" alt="image description"></div>
								<div class="pro-controls border">
									<ul class="control-link">
										<li class="active"><button><span class="icon-update-arrows"></span>Update</button></li>
										<li class="deactive"><button><span class="icon-cross"></span>Delete</button></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
				<!--<div class="addBanner container">
					<h2>Add Banners</h2>
					<form>
						<div class="layout">
							<div class="layout-holder">
								<label>Select City</label>
								<div class="input-holder">
									<select class="js-example-basic-single" multiple>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
									</select>
								</div>
							</div>
							<div class="layout-holder">
								<label>Select Location</label>
								<div class="input-holder">
									<select class="js-example-basic-single" multiple>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
										<option>PAKISTAN</option>
									</select>
								</div>
							</div>
						</div>
						<div class="layout">
							<div class="layout-holder">
								<label>Land Area</label>
								<div class="input-holder">
									<span class="fake-select">
										<select>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
										</select>
									</span>
								</div>
							</div>
							<div class="layout-holder">
								<label>Area Unit</label>
								<div class="input-holder">
									<span class="fake-select">
										<select>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
											<option>PAKISTAN</option>
										</select>
									</span>
								</div>
							</div>
						</div>
						<div class="layout">
							<div class="layout-holder">
								<label>Banner Position</label>
								<div class="input-holder">
									<span class="fake-select">
										<select>
											<option>acha</option>
										</select>
									</span>
								</div>
							</div>
							<div class="layout-holder">
								<label for="banner-pro">Banner Priority</label>
								<div class="input-holder">
									<input type="number" id="banner-pro">
								</div>
							</div>
						</div>
						<div class="layout">
							<div class="layout-holder">
								<label>Banner Type</label>
								<div class="input-holder">
									<span class="fake-select">
										<select>
											<option>acha</option>
										</select>
									</span>
								</div>
							</div>
							<div class="layout-holder">
								<label for="banner-links">Post Banner Link</label>
								<div class="input-holder">
									<input type="text" id="banner-links">
								</div>
							</div>
						</div>
						<ul class="image-uploading-area">
							<li>
								<div class="file-uploader">
									<input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
									<div class="image-holder">
										<img src="#" class="img-thumb1" alt="image Description">
										<span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
									</div>
								</div>
								<input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
								<span class="error-text">This is error</span>
							</li>
						</ul>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add Banner<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="banner-listing">
					<div class="layout text-right"><a href="#" class="btn-hollow">Add a banner</a></div>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-city border"><p>Location</p></div>
								<div class="pro-position border"><p>Position</p></div>
								<div class="pro-priority border"><p>Priority</p></div>
								<div class="pro-date border"><p>Date</p></div>
								<div class="pro-image border"><p>Image</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-city border"><p>Gwader</p></div>
								<div class="pro-position border"><p>Top</p></div>
								<div class="pro-priority border"><p>10000000</p></div>
								<div class="pro-date border"><time>11/12/2015</time></div>
								<div class="pro-image border"><img src="images/img04.jpg" alt="image description"></div>
								<div class="pro-controls border">
									<ul class="control-link">
										<li class="active"><button><span class="icon-update-arrows"></span></span>Update</button></li>
										<li class="deactive"><button><span class="icon-cross"></span>Delete</button></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
				<!--<div class="addLocation container">
					<h2>Add Location</h2>
					<form action="">
						<div class="layout">
							<label>Select Location</label>
							<div class="input-holder">
							<span class="fake-select">
								<select>
									<option>PAKISTAN</option>
								</select>
							</span>
							</div>
						</div>
						<div class="layout">
							<label for="location-name">Location name</label>
							<div class="input-holder">
								<input type="text" id="location-name">
							</div>
						</div>
						<div class="layout">
							<label for="Lati">Lati</label>
							<div class="input-holder">
								<input type="text" id="Lati">
							</div>
						</div>
						<div class="layout">
							<label for="Longi">Longi</label>
							<div class="input-holder">
								<input type="text" id="Longi">
							</div>
						</div>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add Location<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="location-listing">
					<div class="layout text-right">
						<form>
							<span class="hidden-xs">Sorting:</span>
							<span class="fake-select">
								<select>
									<option>Sahi</option>
									<option>Sahi</option>
									<option>Sahi</option>
									<option>Sahi</option>
									<option>Sahi</option>
									<option>Sahi</option>
								</select>
							</span>
							<button type="submit">Submit</button>
						</form>
						<a href="#" class="btn-hollow">Add a banner</a>
					</div>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-city border"><p>City name</p></div>
								<div class="pro-location border"><p>Location</p></div>
								<div class="pro-lati border"><p>Lat</p></div>
								<div class="pro-longi border"><p>Long</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-city border"><p>Gwader</p></div>
								<div class="pro-location border"><p>10000000</p></div>
								<div class="pro-lati border"><p>11/12/2015</p></div>
								<div class="pro-longi border"><p>dd</p></div>
								<div class="pro-controls border">
									<ul class="control-link">
										<li class="active"><button><span class="icon-update-arrows"></span></span>Update</button></li>
										<li class="deactive"><button><span class="icon-cross"></span>Delete</button></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
				<!--<div class="addNews container">
					<h2>Add News</h2>
					<form action="">
						<div class="layout">
							<label for="title">Title</label>
							<div class="input-holder">
								<input type="text" id="title">
							</div>
						</div>
						<div class="layout">
							<label for="description">Description</label>
							<div class="input-holder">
								<textarea id="description"></textarea>
							</div>
						</div>
						<ul class="image-uploading-area">
							<li>
								<div class="file-uploader">
									<input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
									<div class="image-holder">
										<img src="#" class="img-thumb1" alt="image Description">
										<span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
									</div>
								</div>
								<input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
								<span class="error-text">This is error</span>
							</li>
						</ul>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add News<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="news-listing">
					<div class="layout text-right"><a href="#" class="btn-hollow">Add a news</a></div>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-city border"><p>Title</p></div>
								<div class="pro-priority border"><p>Description</p></div>
								<div class="pro-date border"><p>Date</p></div>
								<div class="pro-image border"><p>Image</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-city border"><p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p></div>
								<div class="pro-priority border text-left"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the</p></div>
								<div class="pro-date border"><time>11/12/2015</time></div>
								<div class="pro-image border"><img src="images/img04.jpg" alt="image description"></div>
								<div class="pro-controls border">
									<ul class="control-link">
										<li class="active"><button><span class="icon-update-arrows"></span>Update</button></li>
										<li class="deactive"><button><span class="icon-cross"></span>Delete</button></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
				<!--<div class="addProject container">
					<h2>Add Projects</h2>
					<form action="">
						<div class="layout">
							<label for="title">Project Title</label>
							<div class="input-holder">
								<input type="text" id="title">
							</div>
						</div>
						<div class="layout">
							<label>Select City</label>
							<div class="input-holder">
								<span class="fake-select">
									<select>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
									</select>
								</span>
							</div>
						</div>
						<div class="layout">
							<label>Select Location</label>
							<div class="input-holder">
								<span class="fake-select">
									<select>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
									</select>
								</span>
							</div>
						</div>
						<div class="layout">
							<label for="description">Description</label>
							<div class="input-holder">
								<textarea id="description"></textarea>
							</div>
						</div>
						<ul class="image-uploading-area">
							<li>
								<div class="file-uploader">
									<input type="file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
									<div class="image-holder">
										<img src="#" class="img-thumb1" alt="image Description">
										<span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
									</div>
								</div>
								<p>*Banner should be 1MB</p>
							</li>
						</ul>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add News<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="project-listing">
					<div class="layout text-right"><a href="#" class="btn-hollow">Add a Projects</a></div>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-city border"><p>Title</p></div>
								<div class="pro-priority border"><p>Description</p></div>
								<div class="pro-date border"><p>Date</p></div>
								<div class="pro-image border"><p>Image</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-city border"><p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p></div>
								<div class="pro-priority border text-left"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the</p></div>
								<div class="pro-date border"><time>11/12/2015</time></div>
								<div class="pro-image border"><img src="images/img04.jpg" alt="image description"></div>
								<div class="pro-controls border">
									<ul class="control-link">
										<li class="active"><button><span class="icon-update-arrows"></span>Update</button></li>
										<li class="deactive"><button><span class="icon-cross"></span>Delete</button></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
				<!--<div class="addFeature container">
					<h2>Add Features</h2>
					<form action="">
						<div class="layout">
							<label for="title">textbox</label>
							<div class="input-holder">
								<input type="text" id="title">
							</div>
						</div>
						<div class="layout">
							<label>drop</label>
							<div class="input-holder">
								<span class="fake-select">
									<select>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
									</select>
								</span>
							</div>
						</div>
						<div class="layout">
							<label>Select</label>
							<div class="input-holder">
								<span class="fake-select">
									<select>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
										<option>acha</option>
									</select>
								</span>
							</div>
						</div>
						<div class="layout">
							<label for="title">textbox</label>
							<div class="input-holder">
								<input type="text" id="title">
							</div>
						</div>
						<div class="layout">
							<label for="description">Description</label>
							<div class="input-holder">
								<textarea id="description"></textarea>
							</div>
						</div>
						<div class="layout text-center">
							<button class="btn-default" type="submit">Add Feature<span class="icon-arrow-right"></span></button>
						</div>
					</form>
				</div>-->
				<!--<div class="feature-listing">
					<div class="layout text-right"><a href="#" class="btn-hollow">Add a Feature</a></div>
					<div class="table-responsive">
						<ul class="listing-pro">
							<li class="t-h text-upparcase text-center">
								<div class="pro-id border">
									<label for="property-id" class="customCheckbox">
										<input type="checkbox" id="property-id">
										<span class="fake-checkbox"></span>
										<span class="fake-label">ID</span>
									</label>
								</div>
								<div class="pro-date border"><p>Selected Type</p></div>
								<div class="pro-controls border"><p>Selected Feature</p></div>
								<div class="pro-date border"><p>Feature name</p></div>
								<div class="pro-date border"><p>HTML type</p></div>
								<div class="pro-date border"><p>Priority</p></div>
								<div class="pro-controls border"><p>Possible valuse</p></div>
								<div class="pro-controls border"><p>Controls</p></div>
							</li>
							<li class="t-d text-center">
								<div class="pro-id border">
									<label for="property-id-td" class="customCheckbox">
										<input type="checkbox" id="property-id-td">
										<span class="fake-checkbox"></span>
										<span class="fake-label">8787</span>
									</label>
								</div>
								<div class="pro-date border"><p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p></div>
								<div class="pro-controls border text-left"><p>sadadf d adas dsa dsa sadadf d adas dsa dsa sadadf d adas dsa dsa sadadf d adas dsa dsa </p></div>
								<div class="pro-date border"><time>11/12/2015</time></div>
								<div class="pro-date border"><p>Lorem Ipsum</p></div>
								<div class="pro-date border"><p>Priority</p></div>
								<div class="pro-controls border"><p>Possible valuse</p></div>
								<div class="pro-controls border">
									<ul class="control-link">
										<li class="active"><button><span class="icon-update-arrows"></span>Update</button></li>
										<li class="deactive"><button><span class="icon-cross"></span>Delete</button></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="propertyNotFound hidden">
									<strong class="no-heading">sorry, no record found</strong>
									<p>There is no property in record.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
			</div>
		</main>
	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js" defer><\/script>')</script>
	<script src="js/placeholder.js" type="text/javascript" defer></script>
	<script src="js/lightBox.js" type="text/javascript" defer></script>
	<script src="js/jquery.carousel.js" type="text/javascript" defer></script>
	<script src="js/select2.full.js" type="text/javascript" defer></script>
	<script src="js/jquery-main.js" type="text/javascript" defer></script>
</body>
</html>
