<div class="addSocieties container">
    <h2>Add Societies</h2>
    <form>
        <div class="layout">
            <label for="society-name">City Name</label>
            <div class="input-holder">
                <select class="js-example-basic-single">
                    <option>acha</option>
                    <option>ok</option>
                    <option>hmm</option>
                </select>
            </div>
        </div>
        <div class="layout">
            <label for="society-pro">Society priority</label>
            <div class="input-holder">
                <input type="text" id="society-pro">
            </div>
        </div>
        <ul class="image-uploading-area">
            <li>
                <div class="file-uploader">
                    <input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
                    <div class="image-holder">
                        <img src="#" class="img-thumb1" alt="image Description">
                        <span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
                    </div>
                </div>
                <input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
                <span class="error-text">This is error</span>
            </li>
        </ul>
        <div class="layout text-center">
            <button class="btn-default" type="submit">Add Society<span class="icon-arrow-right"></span></button>
        </div>
    </form>
</div>