<div class="addBanner container">
    <h2>Add Banners</h2>
    <form>
        <div class="layout">
            <div class="layout-holder">
                <label>Select Society</label>
                <div class="input-holder">
                    <select class="js-example-basic-single" multiple>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                    </select>
                </div>
            </div>
            <div class="layout-holder">
                <label>Select Pages</label>
                <div class="input-holder">
                    <select class="js-example-basic-single" multiple>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                        <option>PAKISTAN</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="layout-holder">
                <label>Land Area</label>
                <div class="input-holder">
                    <span class="fake-select">
                        <select>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="layout-holder">
                <label>Land Area</label>
                <div class="input-holder">
                    <span class="fake-select">
                        <select>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                            <option>PAKISTAN</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="layout-holder">
                <label>Banner Position</label>
                <div class="input-holder">
                    <span class="fake-select">
                        <select>
                            <option>acha</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="layout-holder">
                <label for="banner-pro">Banner Priority</label>
                <div class="input-holder">
                    <input type="number" id="banner-pro">
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="layout-holder">
                <label>Banner Type</label>
                <div class="input-holder">
                    <span class="fake-select">
                        <select>
                            <option>acha</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="layout-holder">
                <label for="banner-links">Post Banner Link</label>
                <div class="input-holder">
                    <input type="text" id="banner-links">
                </div>
            </div>
        </div>
        <ul class="image-uploading-area">
            <li>
                <div class="file-uploader">
                    <input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
                    <div class="image-holder">
                        <img src="#" class="img-thumb1" alt="image Description">
                        <span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-bin-delete"></span></span>
                    </div>
                </div>
                <input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
                <span class="error-text">This is error</span>
            </li>
        </ul>
        <div class="layout text-center">
            <button class="btn-default" type="submit">Add Banner<span class="icon-arrow-right"></span></button>
        </div>
    </form>
</div>